h2 {
  font-size: 30px; }

.dark {
  background-color: #1c1e21 !important;
  color: white;
  transition: 0.2s;
  cursor: pointer; }

.dark-hover:hover {
  background-color: #37474f !important; }

.dark.highlight {
  background: #DECBA4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(120deg, #384260, #DECBA4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(120deg, #384260, #DECBA4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  transition: 0.2s;
  cursor: pointer; }

.dark-hover {
  background-color: rgba(0, 0, 0, 0) !important; }

.dark-hover.highlight:hover {
  background: #DECBA4;
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(120deg, #384260, #DECBA4);  /\* Chrome 10-25, Safari 5.1-6 *\/ */
  /* background: linear-gradient(120deg, #384260, #DECBA4); /\* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *\/ */
  background-color: #5a627b !important;
  /* fallback for old browsers */ }

.box-input[type=text]:not(.browser-default) {
  padding: 0px 10px;
  border: 1px solid #cccccc; }

.box-input[type=text]:not(.browser-default):focus:not([readonly]) {
  border: 1px solid #26a69a; }

.card-hr {
  margin: 30px 0px;
  border: 0;
  border-top: 2px solid #ccc; }

.target-coin-selection-card .card-content .select-wrapper {
  margin: 30px 0px; }

.target-coin-selection-card .card-content .input-field {
  margin-top: 0px;
  padding: 0px; }
  .target-coin-selection-card .card-content .input-field label {
    margin-left: -12px; }

.trading-list table {
  margin-bottom: 10px;
  min-width: 600px; }
  .trading-list table thead tr {
    border: 1px solid #eeeeee; }
  .trading-list table thead td {
    font-size: 14px;
    text-align: center;
    border: 1px solid #eeeeee; }
  .trading-list table tbody tr {
    border: 1px solid #444444; }
    .trading-list table tbody tr:first-of-type {
      border-top: 1px solid #eeeeee; }
    .trading-list table tbody tr:last-of-type {
      border-bottom: 1px solid #eeeeee; }
  .trading-list table tbody td {
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #444444; }
    .trading-list table tbody td:first-of-type {
      border-left: 1px solid #eeeeee; }
    .trading-list table tbody td:last-of-type {
      border-right: 1px solid #eeeeee; }

@media screen and (max-width: 600px) {
  .trading-list table {
    min-width: 400px; }
    .trading-list table thead td {
      font-size: 11px; }
    .trading-list table tbody td {
      font-size: 11px; } }

.account-box {
  display: inline-block;
  float: right;
  padding: 5px; }
  .account-box a {
    font-size: 14px;
    color: #bdbdbd; }
  .account-box ul {
    margin: 0px;
    list-style: none;
    padding: 0px; }
  .account-box li {
    margin: 0px;
    margin-left: 10px;
    float: left; }

.logo {
  display: inline-block;
  vertical-align: middle; }
  .logo img {
    height: 30px; }
    .logo img#icon {
      height: 20px; }

.account-bar {
  height: 48px;
  position: sticky;
  top: 0px;
  z-index: 500;
  padding: 0px 10px;
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px 1px #1c1e21;
  -moz-box-shadow: 0px 3px 5px 1px #1c1e21;
  box-shadow: 0px 3px 5px 1px #1c1e21; }
  .account-bar.dark {
    background-color: #242434 !important; }
  .account-bar:hover {
    cursor: default; }

.title-bar {
  -webkit-box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.3); }
  .title-bar h1 {
    margin: 0px;
    padding: 20px;
    font-size: 55px; }
    .title-bar h1 .text {
      margin-left: 20px; }
    .title-bar h1 .sidenav-trigger i {
      font-size: 40px;
      background-color: #1c1e21;
      border: 0px solid #1c1e21; }
    .title-bar h1:hover {
      cursor: pointer; }
  .title-bar:hover {
    cursor: default; }

.side-nav nav {
  height: 0px; }

.side-nav .sidenav {
  width: 250px; }

.page-footer {
  background-color: #37474f;
  padding: 0px; }
  .page-footer .footer-copyright {
    background-color: #1c1e21; }
    .page-footer .footer-copyright a.footer-link {
      color: #AAAAAA !important;
      margin-left: 15px; }

.pagination {
  margin-top: 40px; }
  .pagination li .page-link {
    color: grey; }
  .pagination li.active {
    color: white; }
  .pagination li a {
    color: #c0c0c0; }
  .pagination li.disabled a {
    color: #666666; }

.nuxt-progress {
  display: none; }

#console-layout {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }
  #console-layout .account-bar {
    z-index: 19;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    min-width: 100%;
    padding: 0 32px;
    vertical-align: baseline;
    background-color: #333333 !important;
    background-image: url("/images/patterns/checked.png");
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
    height: 48px;
    position: fixed; }
    #console-layout .account-bar .logo {
      color: rgba(255, 217, 0, 0.85);
      font-size: 24px;
      flex: 1 0 auto;
      display: flex;
      align-items: center; }
      #console-layout .account-bar .logo a {
        color: #fcbd20; }
  #console-layout #console-container {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin-top: 48px; }
    #console-layout #console-container .side-nav {
      -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
      z-index: 15; }
      #console-layout #console-container .side-nav ul {
        top: 47px;
        position: fixed;
        left: 263px;
        height: 100%; }
        #console-layout #console-container .side-nav ul .selected {
          background-color: #e0e0e0; }
        #console-layout #console-container .side-nav ul .divider {
          margin: 1px 0 0 0; }
    #console-layout #console-container #console-context {
      width: 100%;
      margin-left: 250px;
      min-width: 350px; }
      #console-layout #console-container #console-context .title-bar {
        -webkit-box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.3);
        background-color: white !important;
        color: black;
        position: fixed;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        min-width: 100%;
        padding: 0 12px;
        vertical-align: baseline;
        height: 48px;
        position: fixed;
        z-index: 13; }
        #console-layout #console-container #console-context .title-bar .menu {
          display: none; }
        #console-layout #console-container #console-context .title-bar .title-text {
          color: rgba(0, 0, 0, 0.74);
          margin-left: 10px;
          font-size: 14px;
          display: flex;
          flex: 1 0 auto;
          display: flex;
          align-items: center; }
      #console-layout #console-container #console-context #console-data {
        height: 100%;
        padding-top: 48px;
        height: 100%; }
        #console-layout #console-container #console-context #console-data > .container {
          width: 90% !important;
          min-height: 500px; }
      #console-layout #console-container #console-context footer {
        height: 48px;
        z-index: 12; }

@media screen and (max-width: 600px) {
  #console-layout .account-bar {
    padding: 0 16px; }
  #console-layout #console-container .side-nav {
    z-index: 1000; }
    #console-layout #console-container .side-nav ul {
      left: 0px; }
      #console-layout #console-container .side-nav ul li > a {
        padding: 0 16px; }
  #console-layout #console-container #console-context {
    margin-left: initial; }
    #console-layout #console-container #console-context .title-bar {
      padding: 0 16px; }
      #console-layout #console-container #console-context .title-bar .menu {
        display: flex; }
        #console-layout #console-container #console-context .title-bar .menu a {
          width: 23px;
          height: 23px; }
          #console-layout #console-container #console-context .title-bar .menu a .material-icons {
            color: #1c1e21; } }
