<template>
<div class="card api">
  <span class="card-title">API 키 등록</span>
  <a href="/accounts/api" class="btn-floating halfway-fab waves-effect waves-light dark" ><i class="material-icons">edit</i></a>

  <div class="card-content">
    <table class="api-table">
      <tr>
        <td class="logo-cell">
          <img src="/images/icons/exchanges/UPBIT.png" width="28px">
        </td>
        <td>
          <span class="content-value"><api-access-key :exchange="'UPBIT'"></api-access-key></span>
        </td>
      </tr>
    </table>
  </div>
  </div>
</template>

<script>
  import ApiAccessKey from '@/components/console/elements/ApiAccessKey.vue'
export default {
  components: { ApiAccessKey },
  created () {
    if (process.browser) {
      let self = this;
      let authtoken = this.$cookies.get('authtoken');
      this.$axios.get('/api/order/apis/upbit').then(res => {
        let key = res.data;
        if (typeof key !== 'string' || key == '') {
          self.accessKey = 'API 등록이 필요합니다.';
        } else {
          self.accessKey = res.data;
        }
      }).catch(err => {
        self.accessKey = 'API 가져오지 못했습니다.';
      });
    }
  },
  data () {
    return {
      accessKey: "API 가져오는중..."
    }
  },
  methods: {
  }
}
</script>
<style scoped>
  .api-table img {
  vertical-align: middle;
  }
  .api-table td.logo-cell {
  text-align: center;
  width: 30px;
  }
  .api-table tr {
  border-bottom: none;
  }
</style>
