<template>
<div class="card dark">
  <span class="card-title">상태</span>
  <div class="card-content">
    <div v-if="upbit.status==-1">
      <a class="btn-floating status-btn status-none"></a> <span class="status-text">업비트(확인 중)</span>
    </div>
    <div v-else-if="upbit.status==0">
      <a class="btn-floating status-btn status-bad"></a> <span class="status-text">업비트(연결 안됨)</span>
    </div>
    <div v-else-if="upbit.status==1">
      <a class="btn-floating pulse status-btn status-good"></a> <span class="status-text">업비트(원활) {{upbit.latency}}ms</span>
    </div>
    <div v-else-if="upbit.status==2">
      <a class="btn-floating pulse status-btn status-notgood"></a> <span class="status-text">업비트(보통) {{upbit.latency}}ms</span>
    </div>
    <div v-else-if="upbit.status==3">
      <a class="btn-floating pulse status-btn status-bad"></a> <span class="status-text">업비트(느림) {{upbit.latency}}ms</span>
    </div>
  </div>
</div>
</template>

<script>
export default {
  created() {
    let self = this;
    if (process.browser) {
      let lock = false;
      setInterval(function () {
        if (lock == false) {
          lock = true;
          self.$axios.get('/api/states').then(res => {
            var latency = res.data.data.UPBIT.latency;
            if (latency < 0) {
              self.upbit.status = 0;
            } else if (latency < 500) { // 원활
              self.upbit.status = 1;
              self.upbit.latency = latency;
            } else if (latency < 2000) { // 보통
              self.upbit.status = 2;
              self.upbit.latency = latency;
            } else { // 느림
              self.upbit.status = 3;
              self.upbit.latency = latency;
            }
            lock = false;
          }).catch(err => {
            self.upbit.status= 0;
            lock = false;
          });
        }
      }, 2000);
    }
  },
  data() {
    return {
      upbit: {
        status: -1,
        latency: 0
      }
    }
  }
}
</script>
