<template>
<div class="target-coin-selection-card card dark">
  <span class="card-title">{{ title }} {{ getTargetExchange() }} </span>
  <div class="card-content">
    <p v-if="market.symbol != null">
    <b>{{ marketBalance.balance }}</b>
    {{ market.symbol }}({{ market.name }})
    </p>
    <p v-if="coin.symbol != null">
    <b>{{ coinBalance.balance }} </b>
    {{ coin.symbol }}({{ coin.name }})
    </p>
  </div>
</div>
</template>
<script>
export default {
  notifications: {
    showWarn: {
      title: '경고',
      message: '오류가 발생하였습니다',
      type: 'warn'
    }
  },
  props: {
    title: String,
    exchange: Object,
    market: Object,
    coin: Object,
    result: Object
  },
  created () {
    let self = this;
    if (process.browser) {
      let lock = false;
      setInterval(function () {
        if (lock == false) {
          lock = true;
          self.$axios.get('/api/states').then(res => {
            var balance = res.data.data;
            self.balances = balance;
            self.setBalances();
            lock = false;
          }).catch(err => {
            lock = false;
          });
        }
      }, 2000);
    }
  },
  watch: {
    exchange () {
      this.setBalances();
    },
    market () {
      this.setBalances();
    },
    coin () {
      this.setBalances();
    },
    marketBalance () {
      this.updateResult();
    },
    coinBalance () {
      this.updateResult();
    }
  },
  methods: {
    updateResult () {
      this.$emit('update:result', {
        market: this.marketBalance.balance,
        coin: this.coinBalance.balance
      });
    },
    initBalances () {
      this.marketBalance = {
        balance: 0,
        locked: 0,
        avg: 0
      };
      this.coinBalance = {
        balance: 0,
        locked: 0,
        avg: 0
      };
    },
    setBalances () {
      if (this.balances == null) return;
      try {
        let balances = this.balances[this.exchange.symbol].balances;
        let self = this;
        self.initBalances();
        if (self.market.symbol != null) {
          balances.some(elem => {
            return elem.currency == self.market.symbol && (self.marketBalance = {
              balance: elem.balance,
              locked: elem.locked,
              avg: elem.avg
            }) && true;
          });
        }
        if (self.coin.symbol != null) {
          balances.some(elem => {
            return elem.currency == self.coin.symbol && (self.coinBalance = {
              balance: elem.balance,
              locked: elem.locked,
              avg: elem.avg
            }) && true;
          });
        }
      } catch (err) {
        if (this.messageCounts.balanceWarn <= 0) {
          this.showWarn({
            title: 'API 오류',
            message: `${this.exchange.name}의 잔고를 가져오지 못했습니다.`
          });
          this.messageCounts.balanceWarn = 5;
        } else {
          this.messageCounts.balanceWarn--;
        }
      }
    },
    getTargetExchange () {
      if (typeof this.exchange.name === 'string') {
        return `(${this.exchange.name} 기준)`;
      } else {
        return '';
      }
    }
  },
  data() {
    return {
      messageCounts: {
        balanceWarn: 0
      },
      balances: null,
      marketBalance: {
        balance: 0,
        locked: 0,
        avg: 0
      },
      coinBalance: {
        balance: 0,
        locked: 0,
        avg: 0
      }
    }
  }
}
</script>
