<template>
<div class="target-coin-selection-card card">
  <div class="card-content">
    <div class="card-title">진입량 : <input class="box-input quantity" type="text" @keyup="updateEntryBalance"> {{ market.symbol }}</div>
    <hr class="card-hr">
    <input-table
      :startIndex="1"
      :header.sync="tableHeader"
      :row.sync="tableRow"
      :handler="tableHandler"
      :result.sync="entryStrategy">
    </input-table>
  </div>
</div>
</template>
<script>
import InputTable from '@/components/console/elements/InputTable.vue'
export default {
  components: { InputTable },
  props: {
    balance: Number,
    market: Object,
    coin: Object,
    result: Object
  },
  watch: {
    balance (val) {
      this.entryBalance = val;
    },
    entryBalance () {
      this.updateResult();
    },
    entryStrategy () {
      this.updateResult();
    }
  },
  methods: {
    convertStrategy (rawResult) {
      let strategy = [];
      rawResult.forEach(row => {
        let rowData = {};
        row.forEach((col, i) => {
          if (i == 1) {
            rowData.price = parseFloat(parseFloat(col).toFixed(8));
          }
          if (i == 2) {
            rowData.ratio = parseFloat(parseFloat(col*0.01).toFixed(3));
          }
        });
        strategy.push(rowData);
      });

      strategy = strategy.filter(({price, ratio}) => {
        if (ratio > 0 && ratio <= 1) return true;
        if (price > 0) return true;
        return false;
      });

      return strategy;
    },
    updateResult () {
      let strategy = this.convertStrategy(this.entryStrategy);

      this.$emit('update:result', {
        quantity: this.entryBalance,
        strategy: strategy
      });
    },
    updateEntryBalance (e) {
      this.entryBalance = parseFloat(parseFloat(e.target.value).toFixed(8));
    },
    priceHandler (e) {
      this.setCalc(e.target.parentElement,
                   e.target.parentElement.nextSibling);
    },
    ratioHandler (e) {
      this.setCalc(e.target.parentElement.previousSibling,
                   e.target.parentElement);
      if (parseInt(e.target.value) >= 100) {
        e.target.value = 100;
      }
    },
    setCalc (priceTd, ratioTd) {
      let price = parseInt(priceTd.firstElementChild.value);
      let ratio = parseInt(ratioTd.firstElementChild.value);
      let marketSymbol = this.market.symbol || '';
      let coinSymbol = this.coin.symbol || '';
      let balance = parseFloat(this.entryBalance);

      if (typeof balance === 'number') {
        if (!isNaN(price) && !isNaN(ratio)) {
          let entryPrice = (balance * ratio/100)
          let coinNumber = Math.ceil((entryPrice / price)*100)/100;
          ratioTd.nextSibling.firstElementChild.innerText =
            entryPrice + ' ' + marketSymbol + '/' +
            coinNumber + ' ' + coinSymbol;
        } else {
          ratioTd.nextSibling.firstElementChild.innerText = '0' + ' ' + marketSymbol;
        }
      }
    }
  },
  data() {
    return {
      entryBalance: this.balance,
      entryStrategy: [],
      tableHeader: ['매수가격', '매수비율(%)', ''],
      tableRow: ['input', 'input', ''], // need watch
      tableHandler: [this.priceHandler, this.ratioHandler]
    }
  }
}
</script>
<style scoped>
input.quantity {
  margin: 0px 5px;
  width: 40%;
}
@media only screen and (max-width: 500px) {
  input.quantity {
    margin: 0px 2px;
    width: 20%;
  }
}

</style>
