<template>
<div class="target-coin-selection-card card">
  <div class="card-title">진입량 정보</div>
  <div class="card-content">
  </div>
</div>
</template>
<script>
export default {
  props: {

  },
  methods: {
  }
}
</script>
