<template>
<div class="card api dark">
  <a class="btn-floating halfway-fab waves-effect waves-light teal" href="/order/add"><i class="material-icons">add</i></a>
  <a href="/order" style="color:inherit"><span class="card-title">리스트</span></a>

  <ul class="collection">

    <preloader :class="'center'" v-if="orderList.length == 0"></preloader>
    <order-element v-for="curData in dataList.slice(paginationResult.begin, paginationResult.end)" v-bind:key="curData" :data="curData"></order-element>
  </ul>
  <pagination
    :result.sync="paginationResult"
    :total-count="dataList.length"
    :page-range="5"
    :view-count="count"
    ></pagination>
</div>
</template>
<script>
import OrderElement from '@/components/console/elements/OrderElement.vue'
import Pagination from '@/components/console/ui/Pagination.vue'
import Preloader from '@/components/console/ui/Preloader.vue'
import moment from 'moment'
export default {
  components: { OrderElement, Pagination, Preloader },
  props: {
    count: Number
  },
  watch: {
    orderList (orderList) {
      let self = this;
      this.dataList = [];
      orderList.forEach(elem => {
        self.dataList.push({
          id: elem.id,
          exchange: elem.exchange,
          market: elem.market,
          coin: elem.coin,
          date: moment(elem.created_at, 'YYYY-MM-DD HH:mm:ss.SSS Z').format('MM월 DD일'),
          time: moment(elem.created_at, 'YYYY-MM-DD HH:mm:ss.SSS Z').format('HH시 mm분'),
          author: elem.author,
          title: elem.title,
          state: elem.state,
          entry: elem.entry.strategy.map(_e => _e.price),
          target: elem.target.strategy.map(_e => _e.price),
          stoploss: elem.stoploss.strategy.stop
        });
      });
    }
  },
  notifications: {
    showError: {
      title: '문제가 발생하였습니다',
      message: '실패하였습니다',
      type: 'warning'
    }
  },
  created() {
    let self = this;
    if (process.browser) {
      self.$axios.get('/api/order/orders').then(res => {
        let resultData = res.data;
        resultData.sort(function (left, right) {
          return moment(right.created_at, 'YYYY-MM-DD HH:mm:ss.SSS Z').diff(moment(left.created_at, 'YYYY-MM-DD HH:mm:ss.SSS Z'))
        });
        self.orderList = resultData;
      }).catch(err => {
        self.showError({
          message: '오더 리스트를 가져오지 못했습니다. API 연결이 원활하지 않거나 오더가 존재하지 않습니다.'
        });
      });
    }
  },
  data() {
    return {
      paginationResult: {
        begin: 0,
        end: 0+this.count
      },
      orderList: [],
      dataList: []
    }
  }
}
</script>
