<template>
<div class="card dark order-view">
  <div class="card-content">
    <table>
      <tbody>
        <td colspan="2">
          <div class="card-title">기본 정보</div>
        </td>
      </tbody>
      <tbody>
        <tr>
          <td>
            활성화
          </td>
          <td>
            <order-state-toggle :state="data.state" :title="data.title" :id="data.id" ></order-state-toggle>
          </td>
        </tr>
        <tr>
          <td>
            오더명
          </td>
          <td>
            {{ data.title }}
          </td>
        </tr>
        <tr>
          <td>
            작성자
          </td>
          <td>
            {{ data.author }}
          </td>
        </tr>
        <tr>
          <td>
            생성 일자
          </td>
          <td>
            {{ convertTimeString(data.created_at) }}
          </td>
        </tr>
      </tbody>

      <tbody>
        <td colspan="2">
          <div class="card-title">코인 정보</div>
        </td>
      </tbody>
      <tbody>
        <tr>
          <td>
            거래소
          </td>
          <td>
            {{ data.exchange }}
          </td>
        </tr>
        <tr>
          <td>
            마켓
          </td>
          <td>
            {{ data.market }}
          </td>
        </tr>
        <tr>
          <td>
            코인
          </td>
          <td>
            {{ data.coin }}
          </td>
        </tr>
      </tbody>

      <tbody>
        <td colspan="2">
          <div class="card-title">상태 정보</div>
        </td>
      </tbody>
      <tbody>
        <tr>
          <td>
            상태
          </td>
          <td v-if="data.state == 'active'">
            활성화
          </td>
          <td v-else-if="data.state == 'inactive'">
            비활성화
          </td>
          <td v-else-if="data.state == 'done'">
            완료
          </td>
        </tr>
        <tr>
          <td>
            실행 상태
          </td>
          <td v-if="data.running_state == 'profit'">
            진행중
          </td>
          <td v-if="data.running_state == 'losscut'">
            손절매
          </td>
        </tr>
        <tr>
          <td>
            최근 실행
          </td>
          <td>
            {{ convertTimeString(data.updated_at) }}
          </td>
        </tr>
      </tbody>

      <tbody>
        <td colspan="2">
          <div class="card-title">진입 정보 {{data.market}} -> {{data.coin}}</div>
        </td>
      </tbody>
      <tbody>
        <tr>
          <td>
            진입량
          </td>
          <td>
            {{data.entry.quantity}} {{data.market}}
          </td>
        </tr>
        <tr v-for="(entryStrategy, index) in data.entry.strategy" v-bind:key="entryStrategy">
          <td>
            #{{ index+1 }}
          </td>
          <td>
            <u>{{entryStrategy.price}} {{data.coin}}</u> 가격일 때 ->
            <u>{{entryStrategy.ratio*data.entry.quantity}}({{entryStrategy.ratio*100}}%) {{data.market}}</u> 만큼 매수
          </td>
        </tr>
      </tbody>

      <tbody>
        <td colspan="2">
          <div class="card-title">타겟 정보 {{data.coin}} -> {{data.market}}</div>
        </td>
      </tbody>
      <tbody>
        <tr v-for="(targetStrategy, index) in data.target.strategy" v-bind:key="targetStrategy">
          <td>
            #{{ index+1 }}
          </td>
          <td>
            <u>{{targetStrategy.price}} {{data.coin}}</u> 가격일 때 -> 진입량의 <u>{{targetStrategy.ratio*100}} %</u> 매도
          </td>
        </tr>
      </tbody>

      <tbody>
        <td colspan="2">
          <div class="card-title">손절 정보</div>
        </td>
      </tbody>
      <tbody v-if="data.stoploss.type == 0">
        <tr>
          <td>
            홀딩
          </td>
        </tr>
      </tbody>
      <tbody v-else-if="data.stoploss.type == 1">
        <tr>
          <td>
            손절 비율
          </td>
          <td>
            {{data.stoploss.strategy.ratio*100}} %
          </td>
        </tr>
        <tr>
          <td>
            Stop
          </td>
          <td>
            {{data.stoploss.strategy.stop}} {{data.coin}}
          </td>
        </tr>
        <tr>
          <td>
            Limit
          </td>
          <td>
            {{data.stoploss.strategy.limit}} {{data.coin}}
          </td>
        </tr>
        <tr>
          <td>
            설명
          </td>
          <td>
            <u>{{data.coin}}</u> 코인의 시장가격이 <u>{{data.stoploss.strategy.stop}} {{data.coin}}</u> 이하일 경우 <u>{{data.stoploss.strategy.limit}} {{data.coin}}</u> 가격으로 <u>{{data.stoploss.strategy.ratio*100}} %</u> (매수한 양에서 매도하지 못한 코인 양) 매도주문 및 현재 해당 오더에서 매수/매도 대기 중인 주문을 취소합니다.

          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
</template>
<script>
import OrderStateToggle from '@/components/console/elements/OrderStateToggle.vue'
import moment from 'moment'
export default {
  components: { OrderStateToggle },
  props: {
    data: Object
  },
  methods: {
    convertTimeString(time) {
      if (time == null) return '없음';
      return moment(time, 'YYYY-MM-DD HH:mm:ss.SSS Z').zone("+09:00").format('YYYY년 M월 D일 H시 m분 s초');
    }
  }
}
</script>
<style scoped>
  .order-view table tr td:nth-of-type(1) {
  color: #ffcdd2;
  width: 100px;
  }
  .order-view table .card-title {
  margin-top: 20px;
  border-left: solid 2px white;
  padding-left: 10px;
  margin-left: -10px;
  }
  .order-view table td {
  padding-left: 10px;
  }
  .order-view table tr {
    border-bottom: initial;
  }
</style>
