<template>
<div class="stoploss-card card">
  <div class="card-content">
    <table>
      <tbody>
        <tr>
          <td><span class="card-title">홀딩</span></td>
          <td colspan="2">
            <div class="switch">
              <label>
                <input type="checkbox" @change="toggleHolding">
                <span class="lever"></span>
              </label>
            </div>
          </td>
        </tr>
        <tr v-show="enabled">
          <td><span class="card-title">전략</span></td>
          <td colspan="2">
            <label>
              <input @click="selectStoplossStrategy" name="stoploss-strategy" type="radio" value="stop-limit" checked />
              <span>스탑 리밋</span>
            </label>
            <!-- <label> -->
            <!--   <input @click="selectStoplossStrategy" name="stoploss-strategy" type="radio" value="trailing-stop" /> -->
            <!--   <span>트레일링 스탑</span> -->
            <!-- </label> -->
          </td>
        </tr>
        <tr v-show="enabled">
          <td><span class="card-title">손절량 : </span></td>
          <td>
            <input @touchmove="adjustStoplossRange" @mousemove="adjustStoplossRange" @change="adjustStoplossRange" type="range" name="points" min="0" max="100" value="0" />
          </td>
          <td>
            <span class="card-title">{{ stoplossRatio }} %</span>
          </td>
        </tr>
        <tr v-show="enabled && stoplossStrategy == 'stop-limit'">
          <td><span class="card-title">Stop : </span></td>
          <td colspan="2"><input v-model="stoplimitStop" class="box-input" type="text">
          </td>
        </tr>
        <tr v-show="enabled && stoplossStrategy == 'stop-limit'">
          <td><span class="card-title">Limit : </span></td>
          <td colspan="2"><input v-model="stoplimitLimit" class="box-input" type="text">
          </td>
        </tr>
        <tr v-show="enabled && stoplossStrategy == 'trailing-stop'">
          <td><span class="card-title">Stop 비율 : </span></td>
          <td><input @touchmove="adjustStoplossTrailingStopRange" @mousemove="adjustStoplossTrailingStopRange" @change="adjustStoplossTrailingStopRange" type="range" name="points" min="0" max="100" value="0" />
          </td>
          <td>
            <span class="card-title">{{ stoplossTrailingStopRatio }} %</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</template>
<script>
export default {
  props: {
    result: Object
  },
  watch: {
    enabled () {
      this.updateResult();
    },
    stoplossRatio () {
      this.updateResult();
    },
    stoplossTrailingStopRatio () {
      this.updateResult();
    },
    stoplimitStop () {
      this.updateResult();
    },
    stoplimitLimit () {
      this.updateResult();
    }
  },
  methods: {
    updateResult () {
      /** type 설정 */
      let type = 0, strategy = null;
      switch (this.stoplossStrategy) {
      case 'stop-limit':
        type = 1;
        strategy = {
          ratio: parseFloat(this.stoplossRatio*0.01),
          stop: parseFloat(parseFloat(this.stoplimitStop).toFixed(8)),
          limit: parseFloat(parseFloat(this.stoplimitLimit).toFixed(8))
        };
        break;
      case 'trailing-stop':
        type = 2;
        break;
      default:
        type = 0
        break;
      }
      if (this.enabled == false) { // holding
        type = 0;
      }
      this.$emit('update:result', {
        type: type,
        strategy: strategy
      });
    },
    selectStoplossStrategy (e) {
      this.stoplossStrategy = e.target.value;
    },
    adjustStoplossRange (e) {
      this.stoplossRatio = e.target.value;
    },
    adjustStoplossTrailingStopRange (e) {
      this.stoplossTrailingStopRatio = e.target.value;
    },
    toggleHolding (e) {
      if (e.target.checked) {
        this.enabled = false;
      } else {
        this.enabled = true;
      }
    }
  },
  data() {
    return {
      enabled: true,
      stoplossRatio: 0,
      stoplossTrailingStopRatio: 0,
      stoplossStrategy: 'stop-limit',
      stoplimitStop: 0, // type 1
      stoplimitLimit: 0 // type 1
    }
  }
}
</script>
<style scoped>
.stoploss-card input.box-input[type=text] {
  width: 50%
}
.stoploss-card table tr {
  border-bottom: none;
}
.stoploss-card table tr td:nth-of-type(1) {
  width: 70px;
}
.stoploss-card .card-title {
  display: inline;
}
.stoploss-card table td {
  min-width: 100px;
}
</style>
