<template>
<div class="target-coin-selection-card card">
  <div class="card-content">
    <input-table
      :startIndex="1"
      :header.sync="tableHeader"
      :row.sync="tableRow"
      :handler="tableHandler"
      :result.sync="targetStrategy">
    </input-table>
  </div>
</div>
</template>
<script>
import InputTable from '@/components/console/elements/InputTable.vue'
export default {
  components: { InputTable },
  props: {
    balance: Number,
    market: Object,
    coin: Object,
    result: Object
  },
  watch: {
    targetStrategy () {
      this.updateResult();
    }
  },
  methods: {
    convertStrategy (rawResult) {
      let strategy = [];
      rawResult.forEach(row => {
        let rowData = {};
        row.forEach((col, i) => {
          if (i == 1) {
            rowData.price = parseFloat(parseFloat(col).toFixed(8));
          }
          if (i == 2) {
            rowData.ratio = parseFloat(parseFloat(col*0.01).toFixed(3));
          }
        });
        strategy.push(rowData);
      });

      strategy = strategy.filter(({price, ratio}) => {
        if (ratio > 0 && ratio <= 1) return true;
        if (price > 0) return true;
        return false;
      });

      return strategy;
    },
    updateResult () {
      let strategy = this.convertStrategy(this.targetStrategy);

      this.$emit('update:result', {
        strategy: strategy
      });
    },
    priceHandler (e) {
      // this.setCalc(e.target.parentElement,
      //              e.target.parentElement.nextSibling);
    },
    ratioHandler (e) {
      // this.setCalc(e.target.parentElement.previousSibling,
      //              e.target.parentElement);
      if (parseInt(e.target.value) >= 100) {
        e.target.value = 100;
      }
    },

  },
  data() {
    return {
      targetStrategy: [],
      tableHeader: ['매도가격', '매도비율(%)', ''],
      tableRow: ['input', 'input', ''], // need watch
      tableHandler: [this.priceHandler, this.ratioHandler]
    }
  }
}
</script>
