<template>
  <div class="target-coin-selection-card card">
    <span v-if="typeof title === 'string'" class="card-title">{{ title }}</span>
    <div class="card-content">
      <exchange-selection :data="exchanges" :defaultValue="'UPBIT'" :result.sync="ExchangeResult"></exchange-selection>
      <market-selection :data="markets" :result.sync="MarketResult" :exchangeSymbol.sync="ExchangeResult.symbol"></market-selection>
      <coin-selection :data="coins" :result.sync="CoinResult" :exchangeSymbol.sync="ExchangeResult.symbol" :marketSymbol.sync="MarketResult.symbol"></coin-selection>
    </div>
  </div>
</template>

<script>
import CoinSelection from '@/components/console/elements/CoinSelection.vue'
import MarketSelection from '@/components/console/elements/MarketSelection.vue'
import ExchangeSelection from '@/components/console/elements/ExchangeSelection.vue'
export default {
  components: { ExchangeSelection, MarketSelection, CoinSelection },
  props: {
    title: String,
    result: Object
  },
  watch: {
    ExchangeResult (val) {
      this.result.exchange = typeof val === 'object' ? val : {};
      this.result.market = {};
      this.result.coin = {};
    },
    MarketResult (val) {
      this.result.market = typeof val === 'object' ? val : {};
      this.result.coin = {};
    },
    CoinResult (val) {
      this.result.coin = typeof val === 'object' ? val : {};
    }
  },
  data () {
    return {
      ExchangeResult: {},
      MarketResult: {},
      CoinResult: {},
      coins: this.$store.state.Resources.coin,
      markets: this.$store.state.Resources.market,
      exchanges: this.$store.state.Resources.exchange,
    }
  }
}
</script>
