<template>
<div class="card dark trading-list">
  <span class="card-title">거래 내역</span>
  <div v-if="type != 3" class="card-content">
    <preloader :class="'center'" v-if="tradings.length == 0"></preloader>
    <trading-element v-for="trading in tradings" v-bind:key="trading" :data="trading" :type="type"></trading-element>
  </div>
  <div v-if="type == 3" class="card-content">
    <table>
      <thead>
        <tr>
          <td colspan="2">
            상태
          </td>
          <td>
            주문가격
          </td>
          <td>
            미체결수량
          </td>
          <td>
            거래시각
          </td>
        </tr>
        <tr>
          <td>
            거래소
          </td>
          <td>
            마켓
          </td>
          <td>
            주문수량
          </td>
          <td>
            체결수량
          </td>
          <td>
            거래/주문 번호
          </td>
        </tr>
      </thead>
      <trading-element v-for="trading in tradings" v-bind:key="trading" :data="trading" :type="type"></trading-element>
    </table>
    <preloader :class="'center'" v-if="tradings.length == 0"></preloader>
  </div>
</div>
</template>

<script>
import TradingElement from '@/components/console/elements/TradingElement.vue'
import Preloader from '@/components/console/ui/Preloader.vue'
export default {
  name: '거래 내역',
  props: {
    type: Number,
    ids: Array,
    limit: Number
  },
  components: { TradingElement, Preloader },
  created () {
    let self = this;
    if (process.browser) {
      let lock = false;
      setInterval(function () {
        if (lock == false) {
          lock = true;
          self.$axios.get('/api/tradings', {
            params: {
              limit: self.limit || 30,
              ids: self.ids
            }
          }).then(res => {
            self.tradings = res.data;
            lock = false;
          }).catch(err => {
            lock = false;
          });
        }
      }, 2000);
    }
  },
  data () {
    return {
      tradings: [],
      sample: {
        side: 'ask',
        state: 'wait'
      }
    }
  }
}
</script>
