<template>
  <div class="card api dark highlight trader-recommend">
    <span class="card-title">트레이더 추천</span>
    <ul class="collection">
      <li class="collection-item avatar dark-hover highlight">
        <img src="/images/icons/ADA.png" alt="" class="circle">
        <ul class="order-ul no-margin">
          <li>
            <span class="content-value"><span class="order-date" >2018-10-03</span> <span class="order-time" >15:03:33</span> </span>
          </li>
        </ul>
        <ul class="order-ul no-margin" style="clear:both;">
          <li class="title">
            <span class="content-key order-trader">ISOO</span>
          </li>
          <li class="title">
            <span class="content-key order-title" >에이다 오더</span>
          </li>
        </ul>
        <ul class="order-ul" style="clear:both;">
          <li>
            <span class="content-key order-bid">매수</span> <span class="content-value">94~95</span>
          </li>
          <li>
            <span class="content-key order-ask">매도</span> <span class="content-value">97.7...112</span>
          </li>
          <li>
            <span class="content-key order-sl">손절</span> <span class="content-value">92</span>
          </li>
        </ul>
        <a @click="add" class="secondary-content btn-floating waves-effect waves-light blue-grey darken-4"><i class="material-icons">add</i></a>
      </li>
      <li class="collection-item avatar dark-hover highlight">
        <img src="/images/icons/BTC.png" alt="" class="circle">
        <ul class="order-ul no-margin">
          <li>
            <span class="content-value"><span class="order-date" >2018-10-02</span> <span class="order-time" >12:03:23</span> </span>
          </li>
        </ul>
        <ul class="order-ul no-margin" style="clear:both;">
          <li class="title">
            <span class="content-key order-trader">ISOO</span>
          </li>
          <li class="title">
            <span class="content-key order-title" >비트코인 오더</span>
          </li>
        </ul>
        <ul class="order-ul" style="clear:both;">
          <li>
            <span class="content-key order-bid">매수</span> <span class="content-value">65400~67500</span>
          </li>
          <li>
            <span class="content-key order-ask">매도</span> <span class="content-value">71000...120000</span>
          </li>
          <li>
            <span class="content-key order-sl">손절</span> <span class="content-value">60600</span>
          </li>
        </ul>
        <a @click="add" class="secondary-content btn-floating waves-effect waves-light blue-grey darken-4"><i class="material-icons">add</i></a>
      </li>
      <li class="collection-item avatar dark-hover highlight">
        <img src="/images/icons/BTC.png" alt="" class="circle">
        <ul class="order-ul no-margin">
          <li>
            <span class="content-value"><span class="order-date" >2018-10-02</span> <span class="order-time" >12:03:23</span> </span>
          </li>
        </ul>
        <ul class="order-ul no-margin" style="clear:both;">
          <li class="title">
            <span class="content-key order-trader">ISOO</span>
          </li>
          <li class="title">
            <span class="content-key order-title" >비트코인 오더</span>
          </li>
        </ul>
        <ul class="order-ul" style="clear:both;">
          <li>
            <span class="content-key order-bid">매수</span> <span class="content-value">65400~67500</span>
          </li>
          <li>
            <span class="content-key order-ask">매도</span> <span class="content-value">71000...120000</span>
          </li>
          <li>
            <span class="content-key order-sl">손절</span> <span class="content-value">60600</span>
          </li>
        </ul>
        <a @click="add" class="secondary-content btn-floating waves-effect waves-light blue-grey darken-4"><i class="material-icons">add</i></a>
      </li>
      <li class="collection-item avatar dark-hover highlight">
        <img src="/images/icons/BTC.png" alt="" class="circle">
        <ul class="order-ul no-margin">
          <li>
            <span class="content-value"><span class="order-date" >2018-10-02</span> <span class="order-time" >12:03:23</span> </span>
          </li>
        </ul>
        <ul class="order-ul no-margin" style="clear:both;">
          <li class="title">
            <span class="content-key order-trader">ISOO</span>
          </li>
          <li class="title">
            <span class="content-key order-title" >비트코인 오더</span>
          </li>
        </ul>
        <ul class="order-ul" style="clear:both;">
          <li>
            <span class="content-key order-bid">매수</span> <span class="content-value">65400~67500</span>
          </li>
          <li>
            <span class="content-key order-ask">매도</span> <span class="content-value">71000...120000</span>
          </li>
          <li>
            <span class="content-key order-sl">손절</span> <span class="content-value">60600</span>
          </li>
        </ul>
        <a @click="add" class="secondary-content btn-floating waves-effect waves-light blue-grey darken-4"><i class="material-icons">add</i></a>
      </li>
      <li class="collection-item avatar dark-hover highlight">
        <img src="/images/icons/BTC.png" alt="" class="circle">
        <ul class="order-ul no-margin">
          <li>
            <span class="content-value"><span class="order-date" >2018-10-02</span> <span class="order-time" >12:03:23</span> </span>
          </li>
        </ul>
        <ul class="order-ul no-margin" style="clear:both;">
          <li class="title">
            <span class="content-key order-trader">ISOO</span>
          </li>
          <li class="title">
            <span class="content-key order-title" >비트코인 오더</span>
          </li>
        </ul>
        <ul class="order-ul" style="clear:both;">
          <li>
            <span class="content-key order-bid">매수</span> <span class="content-value">65400~67500</span>
          </li>
          <li>
            <span class="content-key order-ask">매도</span> <span class="content-value">71000...120000</span>
          </li>
          <li>
            <span class="content-key order-sl">손절</span> <span class="content-value">60600</span>
          </li>
        </ul>
        <a @click="add" class="secondary-content btn-floating waves-effect waves-light blue-grey darken-4"><i class="material-icons">add</i></a>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  methods: {
    add () {
      this.$swal({
        title: '준비 중 입니다.',
        type: 'warning',
        animation: false,
        customClass: 'animated jello fast',
        showConfirmButton: false,
        timer: 2000
      });
    }
  }
}
</script>
