<template>
<div class="card" >
  <a href="/accounts/edit" class="btn-floating halfway-fab waves-effect waves-light dark" ><i class="material-icons">edit</i></a>
  <div class="card-title">계정 정보</div>
  <div class="card-content">
    <table>
      <tr>
        <td>
          ID
        </td>
        <td>
          tester_dk
        </td>
      </tr>
      <tr>
        <td>
          이메일
        </td>
        <td>
          abcd@gmail.com
        </td>
      </tr>
      <tr>
        <td>
          텔레그램
        </td>
        <td>
          @abcd
        </td>
      </tr>
      <tr>
        <td>
          가입일
        </td>
        <td>
          3일 전
        </td>
      </tr>
    </table>
  </div>
</div>
</template>

<script>
export default {
  created() {
  },
  data () {
    return {
    }
  }
}
</script>
