<template>
<div>
  <title-bar :simple="true" :title="$store.state.page.title"></title-bar>
  <nuxt/>
  <footer-bar></footer-bar>
</div>
</template>
<script>
import TitleBar from '@/components/console/ui/TitleBar.vue'
import FooterBar from '@/components/console/ui/FooterBar.vue'
export default {
  components: { TitleBar, FooterBar },
  head: {
    link: [
      // { rel: 'stylesheet', href: '/css/materialize.min.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' },
      { rel: 'stylesheet', href: '/css/materialize.custom.css' },
      { rel: 'stylesheet', href: '/css/console.css' }
    ],
    script: [
      // {src:'/js/jquery-3.3.1.slim.min.js', type: 'text/javascript'},
      // {src:'/js/materialize.min.js', type: 'text/javascript'}
      {src:'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js', type: 'text/javascript'},
      {src:'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js', type: 'text/javascript'},
    ]
  }
}
</script>
