<template>
<div id="auth">
  <nuxt/>
</div>
</template>
<script>
import TitleBar from '@/components/console/ui/TitleBar.vue'
import FooterBar from '@/components/console/ui/FooterBar.vue'
export default {
  components: { TitleBar, FooterBar },
  head: {
    link: [
      { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Lato' },
      { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' },
      { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Muli' },
      { rel: 'stylesheet', href: '/css/materialize.min.css' },
      { rel: 'stylesheet', href: '/css/materialize.custom.css' },
      { rel: 'stylesheet', href: '/css/auth/auth.css' }
    ],
    script: [
      {src:'/js/jquery-3.3.1.slim.min.js', type: 'text/javascript'},
      // {src:'https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js', type: 'text/javascript'},
      // {src:'https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js', type: 'text/javascript'},
      {src:'/js/materialize.min.js', type: 'text/javascript'}
    ]
  }
}
</script>
<style scoped>
  #auth {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
  }
</style>
