<template>
  <div id="console-layout">
    <account-bar></account-bar>
    <div id="console-container">
      <side-nav></side-nav>
      <div id="console-context">
        <title-bar :title="$store.state.page.title"></title-bar>
        <div id="console-data">
          <nuxt/>
        </div>
        <!-- <footer-bar></footer-bar> -->
    </div>
  </div>
</div>
</template>

<script>
import AccountBar from '@/components/console/ui/AccountBar.vue'
import TitleBar from '@/components/console/ui/TitleBar.vue'
import SideNav from '@/components/console/ui/SideNav.vue'
import FooterBar from '@/components/console/ui/FooterBar.vue'
export default {
  middleware: 'authorization',
  components: { AccountBar, TitleBar, SideNav, FooterBar },
  head: {
    link: [
      // { rel: 'stylesheet', href: '/css/materialize.min.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' },
      { rel: 'stylesheet', href: '/css/materialize.custom.css' },
      { rel: 'stylesheet', href: '/css/console.css' }
    ],
    script: [
      // {src:'/js/jquery-3.3.1.slim.min.js', type: 'text/javascript'},
      // {src:'/js/materialize.min.js', type: 'text/javascript'}
      {src:'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js', type: 'text/javascript'},
      {src:'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js', type: 'text/javascript'},
    ]
  }
}
</script>
