<template>
  <div class="container">
    <div v-if="error.statusCode === 404">
      <redirect :title="error404" :pathname="pathname" :path="path" :seconds="seconds"></redirect>
    </div>
    <div v-else>
        <redirect :title="errordefault" :pathname="pathname" :path="path" :seconds="seconds"></redirect>
    </div>
  </div>
</template>

<script>
import Redirect from '@/components/common/redirect.vue'
export default {
  components: { Redirect },
  props: ['error'],
  data() {
    return {
      error404: '페이지를 찾을 수 없습니다.',
      errordefault: '에러가 발생했습니다.',
      pathname: '홈',
      path: '/',
      seconds: 3
      }
    }
}
</script>
