<template>
<div>
  <nuxt/>
  <div v-html="scripts"></div>
</div>
</template>
<script>
export default {
  components: { },
  head: {
    link: [
      { rel: 'stylesheet', href: '/css/simple-line-icons.css' },
      { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Lato' },
      { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' },
      { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Muli' },
      { rel: 'stylesheet', href: '/css/newage/bootstrap.min.css' },
      { rel: 'stylesheet', href: '/css/newage/device-mockups/device-mockups.min.css' },
      { rel: 'stylesheet', href: '/css/newage/new-age.css' },
      { rel: 'stylesheet', href: '/css/newage/custom.css' }
    ],
    script: [
    ]
  },
  data() {
    return {
      scripts: `
<script src='/js/newage/jquery.min.js'><\/script>
<script src='/js/newage/bootstrap.bundle.min.js'><\/script>
<script src='/js/newage/jquery.easing.min.js'><\/script>
<script src='/js/newage/new-age.js'><\/script>
`
    }
  }
}
</script>
