<template>
  <div>
    <nuxt/>
  </div>
</template>
<script>
export default {
  components: { },
  head: {
    link: [
      { rel: 'stylesheet', href: '/css/bootstrap.min.css' },
      { rel: 'stylesheet', href: '/css/bootstrap-theme.min.css' },
      { rel: 'stylesheet', href: '/css/onepage/new-age.min.css' }
    ],
    script: [
      {src:'/js/bootstrap.min.js', type: 'text/javascript'}
    ]
  },

}
</script>
