<template>
<div class="container">
  {{store}}
  <div class="col s6 z-depth-6 card-panel">
    <form @submit.prevent="checkForm" class="login-form">
      <div class="row">
        <div class="col s12 center-align">
          <h2>Bitrading</h2>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mail_outline</i>
          <input v-model="email" class="validate" id="email" type="text" name="email">
          <label for="email" data-error="wrong" data-success="right">아이디</label>
          <span class="helper-text" data-error="이메일 주소로 입력해주세요." data-success="가능합니다"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <input v-model="password" id="password" type="password" name="password">
          <label for="password">비밀번호</label>
          <span class="helper-text"></span>
          <p class="margin medium-small col right"><a href="/auth/forgot">비밀번호를 잊어버리셨나요?</a></p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 right signin">
          <a href="/auth/signin" class="btn waves-effect waves-light col s10">회원가입</a>
        </div>
        <div class="input-field col s6 push-s1 login">
          <button type="submit" class="btn waves-effect waves-light col s10">로그인</button>
        </div>
      </div>

    </form>
  </div>
</div>
</template>

<script>
import v from 'validator'
import xss from 'xss'
import crypto from 'crypto'
import qs from 'querystring'
export default {
  name: '로그인',
  layout: 'auth',
  notifications: {
    showLoginError: {
      title: '로그인 실패',
      message: '문제가 발생하였습니다. 다시 시도해 주세요.',
      type: 'error'
    },
    delayLoginWarn: {
      title: '로그인 중..',
      message: '잠시만 기다려주세요.',
      type: 'warn'
    }
  },
  created () {
    let self = this;
    if (process.browser) {

      self.$axios.get('/api/auth/login').then(res => {
        location.href="/dashboard";
      }).catch(err => {
      });
    }
  },
  methods: {
    checkForm: async function (e) {
      this.email = xss(this.email);
      // if (!v.isEmail(this.email)) e.preventDefault();
      let formData = {
        id: this.email,
        pw: crypto.createHash('sha512').update(this.password, 'utf8').digest('base64')
      };

      // request
      if (this.canILogin()) {
        this.lockLogin();
        this.$axios({
          method: 'post',
          url: '/api/auth/login',
          timeout: 5000,
          data: formData
        }).then(res => {
          this.$cookies.set('authtoken', res.data);
          location.href="/dashboard";
        }).catch (err => {
          setTimeout(() => {
            this.genLoginError(err);
            this.unlockLogin();
          }, 2000);
        });
      } else {
        this.delayLoginWarn();
      }
    },
    genLoginError (err) { // #notify err
      // console.log(err.response);
      const title = _.get(err, 'response.data.title'),
            message = _.get(err, 'response.data.message');
      if (_.isString(title) && _.isString(message)) {
        this.showLoginError({title: title, message: message});
      } else {
        this.showLoginError();
      }
    },
    canILogin () {
      return this.requests.login == false;
    },
    lockLogin () {
      this.requests.login = true;
    },
    unlockLogin () {
      this.requests.login = false;
    }
  },
  mounted() {
  },
  data() {
    return {
      email: null,
      password: null,
      store: this.$store.state.token,
      requests: {
        login: false
      }
    }
  }
}
</script>
