<template>
  <div>
    <redirect :title="title" :subtitle="subtitle" :pathname="pathname" :path="path" :seconds="seconds"></redirect>
  </div>
</template>

<script>
import Redirect from '@/components/common/redirect.vue'
export default {
  components: { Redirect },
  name: '로그아웃',
  layout: 'auth',
  mounted () {
    if (process.browser) {
      this.$cookies.remove('authtoken');
    }
  },
  data() {
    return {
      title: '로그아웃 중입니다.',
      subtitle: '',
      pathname: '로그인 화면',
      path: '/auth',
      seconds: 2,
    }
  }
}
</script>
