<template>
<div class="container">
  <div class="col s6 z-depth-6 card-panel">
    <form @click="clickForm" @submit="checkForm" id="signin-form" method="post">
      <div class="row">
        <div class="col s12 center-align">
          <h2>Bitrading</h2>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          <input class="validate" id="id" type="text" required>
          <label for="id" data-error="wrong" data-success="right">아이디를 입력하세요</label>
          <span class="helper-text" data-error="이메일 주소를 정확히 입력해주세요." data-success="가능합니다"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <input :model="password" id="password" class="validate" type="password" required>
          <label for="password" message="비밀번호를 8~20 글자로 입력해주세요" >비밀번호를 입력하세요</label>
          <span class="helper-text" data-error="비밀번호를 8~20 글자로 입력해주세요" data-success="가능합니다"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <input :model="passwordConfirm" id="passwordConfirm" class="validate" type="password" required>
          <label for="passwordConfirm" data-error="일치하지 않습니다" data-success="사용가능합니다">비밀번호를 확인하세요</label>
          <span class="helper-text" data-error="비밀번호가 일치하지 않습니다" data-success="가능합니다"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mail_outline</i>
          <input :model="email" class="validate" id="email" type="text" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" message="정확한 이메일 주소를 입력해주세요" required>
          <label for="email" data-error="wrong" data-success="right">아이디를 입력하세요</label>
          <span class="helper-text" data-error="이메일 주소를 정확히 입력해주세요." data-success="가능합니다"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input :model="invitation" id="invitation" class="validate" type="text" required>
          <label for="invitation" data-error="일치하지 않습니다" data-success="사용가능합니다">초대코드를 입력하세요</label>
          <span class="helper-text" data-error="" data-success=""></span>
        </div>
      </div>
      <div class="row">
        <div class="card terms">
          <h4 class="terms-title">이용약관</h4>
          <div class="card-content terms-contents">
            <h5> 환영합니다. </h5>
            <p>비트레이딩 서비스 및 제품(이하 '서비스')을 이용해 주셔서 감사합니다. 본 약관은 다양한 비트레이딩 서비스의 이용과 관련하여 비트레이딩 서비스를 제공하는 비트레이딩과 이를 이용하는 비트레이딩 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 비트레이딩 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.</p>
            <p>비트레이딩 서비스를 이용하시거나 비트레이딩 서비스 회원으로 가입하실 경우 여러분은 본 약관 및 관련 운영 정책을 확인하거나 동의하게 되므로, 잠시 시간을 내시어 주의 깊게 살펴봐 주시기 바랍니다.</p>
            <h5>책임의 한계</h5>
            <p>비트레이딩은 트레이더 오더 정보, 수익정보 등을 포함하며 본 웹 사이트에 포함되어 있거나, 본 웹 사이트를 통해 배포, 전송되거나, 본 웹 사이트에 포함되어 있는 서비스로부터 접근되는 암호화폐 정보(이하 "암호화폐 자료")의 정확성이나 신뢰성에 대해 어떠한 보증도 하지 않으며 서비스상의, 또는 서비스와 관련된 광고, 기타 정보 또는 디스플레이에 대해 어떠한 보증도 하지 않습니다. 귀하가 본 웹 사이트에서 사용하는 암호화폐 자료는 전적으로 귀하의 판단으로 이루어 지며, 전적으로 귀하의 책임임을 인정합니다. 또한 귀하가 본 웹사이트를 이용해 거래하는 암호화폐에 대해 어떠한 수익도 보장하지 않으며, 비트레이딩은 손실에 대한 어떠한 책임도 지지 않습니다.</p>
          </div>
          <div class="card-action input-field required">
            <label>
              <input :model="agreement" type="checkbox" class="filled-in" message="이용약관 동의가 필요합니다" required/>
              <span>동의합니다</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 signin">
          <button type="submit" class="btn waves-effect waves-light col s6 push-s3">회원가입</button>
        </div>
      </div>

    </form>
  </div>
</div>
</template>

<script>
import validator from 'validator'
import xss from 'xss'
export default {
  name: '회원가입',
  layout: 'auth',
  methods: {
    clickForm () {
      this.$swal({
        title: '죄송합니다',
        text: '현재 회원가입이 불가합니다.',
        type: 'error',
        confirmButtonText: '<i class="material-icons">check</i>'
      });
    },
    checkForm (e) {
      // console.log(e);
    }
  },
  mounted () {
  },
  data () {
    return {
      email: null,
      password: null,
      passwordConfirm: null,
      invitation: null,
      agreement: false
    }
  }
}
</script>
