#auth {
  margin-top: 20px; }
  #auth .container {
    max-width: 500px; }
  #auth h2 {
    color: rgba(255, 217, 0, 0.85);
    font-weight: 200;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif'; }
  #auth .card-panel {
    background: #3b3337;
    background: -webkit-linear-gradient(to left, #3b3337, #1c2430);
    background: linear-gradient(to left, #3b3337, #1c2430); }
  #auth i.material-icons {
    color: #9e9e9e; }
  #auth label:focus {
    color: #ffd700; }
  #auth input {
    color: gray; }
  #auth input:focus {
    color: #ffd700;
    border-bottom: 1px solid #ffd700;
    box-shadow: 0 1px 0 0 #ffd700; }
    #auth input:focus + label.active {
      color: #ffd700; }
  #auth i.material-icons.active {
    color: #ffd700; }
  #auth .signin .btn {
    background: #1c2430;
    background: -webkit-linear-gradient(to left, #1c2430, #333333);
    background: linear-gradient(to left, #1c2430, #333333); }
  #auth .login .btn {
    background: #3b3337;
    background: -webkit-linear-gradient(to right, #3b3337, #333333);
    background: linear-gradient(to right, #3b3337, #333333); }
  #auth .btn {
    border-radius: 7px; }
  #auth .card.terms {
    background-color: rgba(70, 70, 70, 0.5);
    color: #c8c8c8; }
    #auth .card.terms .terms-title {
      text-align: center; }
    #auth .card.terms .terms-contents {
      height: 250px;
      overflow: auto;
      padding: 20px;
      border-top: 1px solid grey; }
      #auth .card.terms .terms-contents::-webkit-scrollbar {
        width: 0px; }
      #auth .card.terms .terms-contents p {
        text-indent: 20px; }
    #auth .card.terms .card-action {
      margin-top: 0px;
      background-color: initial; }
      #auth .card.terms .card-action input.filled-in:checked + span:not(.lever):before {
        border-right: 2px solid #3b3337;
        border-bottom: 2px solid #3b3337; }
      #auth .card.terms .card-action input.filled-in:checked + span:not(.lever):after {
        border: initial;
        background-color: #ffd700; }
