// Styling for the download section
section.download {
    position: relative;
    padding: 150px 0;
    position: relative;
    padding: 250px 0;
    background-image: url('/images/newage/people-with-laptop.jpg');
    background-position: center;
    @include background-cover;
    h2 {
        font-size: 50px;
        margin-top: 0;
    }
    .badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
    .container {
      position: relative;
      z-index: 1;
      h2 {
        font-size: 50px;
        max-width: 450px;
        margin-top: 0;
        margin-bottom: 25px;
        color: white;
      }
      p {
        color: rgb(200, 200, 200w);
      }
      @media (min-width: 768px) {
        h2 {
          font-size: 80px;
        }
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: fade-out(black, .35);
    }
}
