// Styling for the navbar
#mainNav {
    border-color: fade-out($gray-darker, .95);
    background-color: white;
    @include transition-all;
    @include heading-font;
    .navbar-brand {
        color: $theme-primary;
        @include heading-font;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: $theme-primary;
        border: 1px solid $theme-primary;
    }
    .navbar-nav {
        > li {
            > a {
                font-size: 11px;
                @include alt-font;
                &.active {
                    color: $theme-primary !important;
                    font-weight: bold;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            > a,
            > a:focus {
                color: $gray-darker;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
    // @media (min-width: 400px) {
    border-color: transparent;
    background-color: transparent;
    .navbar-brand {
      color: fade(white, 70%);
      &:hover,
      &:focus {
        color: white;
      }
    }
    .navbar-nav > li > a,
    .navbar-nav > li > a:focus {
      color: fade-out(white, .3);
      &:hover {
        color: white;
      }
    }
    &.navbar-shrink {
      border-color: fade-out($gray-darker, .9);
      background-color: white;
      .navbar-brand {
        color: $gray-darker;
        &:hover,
        &:focus {
          color: $theme-primary;
        }
      }
      .navbar-nav > li > a,
      .navbar-nav > li > a:focus {
        color: $gray-darker;
        &:hover {
          color: $theme-primary;
        }
      }
    }
    // }

    // for ignore media 992px
    .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }
}
