// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #fdcc52;
$theme-secondary:  #6b4397;
$theme-tertiary:   #2465dc;

// $theme-secondary:  #7b4397;
// $theme-tertiary:   #dc2430;

// $theme-secondary:  #7b4397;
// $theme-tertiary:   #1c2430;

// $theme-secondary:  #004d40;
// $theme-tertiary:   #1c2430;

// $theme-secondary:  #b0bec5;
// $theme-tertiary:   #1c2430;

// $theme-secondary:  #ef9a9a;
// $theme-tertiary:   #1c2430;

// $theme-secondary:  #D7C1B0;
// $theme-tertiary:   #3B3340;

// $theme-secondary:  #762033;
// $theme-tertiary:   #F9F460;

// $theme-secondary:  #982C2A;
// $theme-tertiary:   #A3372E;

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee

$brand-twitter:		#1da1f2;
$brand-facebook:	#3b5998;
$brand-google-plus:	#dd4b39;
