<template>
  <span>{{ accessKey }}</span>
</template>

<script>
  export default {
  props: {
    exchange: String
  },
  created () {
  if (process.browser) {
  console.log(this.exchange);
      let self = this;
      this.$axios.get('/api/order/apis/' + this.exchange.toLowerCase()).then(res => {
        let key = res.data;
        if (typeof key !== 'string' || key == '') {
          self.accessKey = 'API 키 등록이 필요합니다.';
        } else {
          self.accessKey = res.data;
        }
      }).catch(err => {
        self.accessKey = 'API 키를 가져오지 못했습니다.';
      });
    }
  },
  data () {
    return {
      accessKey: "API 키를 가져오는중..."
    }
  }
}
</script>
