<template>
<div class="input-field col s12">
  <input type="text" id="autocomplete-coin" class="autocomplete" @change="changeInput" disabled>
  <label for="autocomplete-coin">{{ coinLabel() }}</label>
</div>
</template>

<script>
export default {
  name: 'CoinSelection',
  props: {
    data: Object,
    defaultValue: String,
    exchangeSymbol: String,
    marketSymbol: String,
    result: Object
  },
  watch: {
    exchangeSymbol () {
      this.changedSymbol(this.exchangeSymbol, this.marketSymbol);
    },
    marketSymbol () {
      this.changedSymbol(this.exchangeSymbol, this.marketSymbol);
    }
  },
  methods: {
    init () {
      var data  = {};
      this.dataList.map(elem => {
        var key = elem.name + '(' + elem.symbol + ')';
        data[key] = this.setImage(elem.symbol);
        this.symbolData[key] = elem.symbol;
      });
      $('input#autocomplete-coin').autocomplete({
        data: data
      });
    },
    enable () {
      $('input#autocomplete-coin').attr('disabled', false);
      this.init();
    },
    disable () {
      $('input#autocomplete-coin').attr('disabled', true);
    },
    setImage (symbol) {
      return this.$store.state.location.coin + '/' + symbol + '.png';
    },
    coinLabel () {
      if (typeof this.selectedCoin === 'string') {
        return this.selectedCoin + ' 코인이 선택되었습니다';
      } else {
        if (this.dataList.length > 0) {
          return '코인명/심볼을 입력하세요';
        } else {
          return '거래소와 마켓을 선택해주세요';
        }
      }
    },
    changedSymbol (exchangeSymbol, marketSymbol) {
      if (exchangeSymbol != null && marketSymbol != null) {
        this.dataList = this.data[exchangeSymbol][marketSymbol];
        this.enable();
      } else {
        this.disable();
      }
    },
    isAvailableCoin (symbolOrName) {
      if (typeof symbolOrName !== 'string') return false;
      if (this.dataList.some(elem => elem.symbol == symbolOrName.toUpperCase())) {
        return true;
      }
      if (this.dataList.some(elem => elem.name == symbolOrName)) {
        return true;
      }
      return false;
    },
    convertToSymbol (symbolOrName) {
      if (typeof symbolOrName !== 'string') return null;
      if (this.dataList.some(elem => elem.symbol == symbolOrName.toUpperCase())) { // only symbol
        return symbolOrName.toupperCase();
      }
      if (this.dataList.some(elem => elem.name == symbolOrName)) { // only name
        return this.dataList.filter(elem => elem.name == symbolOrName)[0].symbol;
      }
      if (this.symbolData[symbolOrName] != null) { // mixed
        return this.symbolData[symbolOrName];
      }
      return null;
    },
    changeInput (e) {
      var value = e.target.value,
          symbol;
      if ((symbol = this.convertToSymbol(value)) == null) {
        this.selectedCoin = null;
        return;
      }
      e.target.value = symbol;
      this.selectedCoin = symbol;
      this.$emit('update:result', this.dataList.filter(elem => elem.symbol == symbol)[0]);
    }
  },
  data() {
    return {
      dataList: [],
      symbolData: {},
      selectedCoin: null
    }
  }
}
</script>
