<template>
  <select id="exchange-selection">
    <option value="" disabled :selected="defaultValue == null">거래소를 선택하세요</option>
    <option v-for="exchange in data" :selected="exchange.symbol == defaultValue" :key="exchange" :data-icon="$store.state.location.exchange + '/' + exchange.symbol + '.png'" :value="exchange.symbol" class="left">{{exchange.name}}</option>
  </select>
</template>

<script>
export default {
  name: 'ExchangeSelection',
  props: {
    data: Array,
    defaultValue: String,
    result: Object
  },
  created () {
    let self = this;
    if (process.browser) {
      console.log("Load ExchangeSelection");
      $(document).ready(function(){
        var elem = $('#exchange-selection').formSelect();
        var instance = M.FormSelect.getInstance(elem);
        let selectedValue = instance.getSelectedValues()[0];
        if (self.existsSymbol(selectedValue)) {
          self.sendResult(selectedValue);
        }
        $('#exchange-selection').change('change', function(e) {
          self.selected.call(self, e); // call vue method
        });
      });
    }
  },
  methods: {
    existsSymbol (symbol) {
      return this.data.some(elem => elem.symbol == symbol);
    },
    sendResult (symbol) {
      this.$emit('update:result', this.data.filter(elem => elem.symbol == symbol)[0]);
    },
    selected (e) {
      var symbol = e.target.value;
      this.sendResult(symbol);
    }
  }
}
</script>
