<template>
  <div class="help-link"><a :href="href">{{ text }}<i class="material-icons">help_outline</i></a></div>
</template>

<script>
export default {
  name: 'ExchangeSelection',
  props: {
    href: String,
    text: String
  }
}
</script>
<style scoped>
  .help-link a {
  margin: 10px;
  font-size: 15px;
  text-decoration: underline;
  color: grey;
  }
  .help-link .material-icons {
  font-size: 15px;
  vertical-align: middle;
  }
  .help-link {
  }
</style>
