<template>
  <table class="inputTable" @change="updateResult" @click="updateResult" @keyup="updateResult">
    <thead>
      <tr>
        <td v-if="typeof startIndex === 'number'" class="card-title center">#</td>
        <td v-for="col in header" v-bind:key="col" class="card-title center" style="display:table-cell">{{ col }}</td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="num in inputLength" v-bind:key="num">
        <td v-if="typeof startIndex === 'number'" class="card-title center">#{{ num+startIndex-1 }}</td>
        <td v-for="(col, index) in row" v-bind:index="index" v-bind:key="col" class="card-title center" style="display:table-cell">
          <input v-if="col == 'input'" @keyup="handler[index]" class="box-input" type="text">
          <span v-else>{{ col }}</span>
        </td>
        <td class="center"><a @click="removeRow" class="btn-floating waves-effect waves-light btn-small orange darken-4"><i class="material-icons">remove</i></a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td v-if="typeof startIndex === 'number'"></td>
        <td v-for="col in row" v-bind:key="col"></td>
        <td class="center"><a @click="addRow" class="btn-floating waves-effect waves-light btn-small blue"><i class="material-icons">add</i></a></td>
      </tr>
    </tfoot>
  </table>
</template>
<script>
export default {
  props: {
    startIndex: Number,
    header: Array,
    row: Array,
    handler: Array, // input일땐 onchange, 다른 값일땐 대치
    result: Array
  },
  watch: {
    inputLength (val) {
    }
  },
  methods: {
    addRow (e) {
      this.inputLength ++;
    },
    removeRow (e) {
      e.target.parentElement.parentElement.parentElement.remove()
    },
    updateResult () {
      let tableElement = this.$el,
          tr = $(tableElement).children('tbody').children('tr');

      let data = [];
      tr.each(function () {
        let tdData = [];
        let td = $(this).children('td');
        td.each(function () {
          let _td = $(this).get(0);
          if ($(_td).children('input').length > 0) {
            let inputValue = $(_td).children('input').get(0).value;
            tdData.push(inputValue);
          } else {
            tdData.push($(_td).text());
          }
        });
        data.push(tdData);
      });
      this.$emit('update:result', data);
    }
  },
  data() {
    return {
      index: this.startIndex,
      inputLength: 3
    }
  }
}

</script>
<style scoped>
.inputTable tbody {
  margin-top: 20px;
}
.inputTable tr {
  border-bottom: none;
  margin-top: 30px;
}
.inputTable td {
  padding: 5px 5px;
}
.inputTable td input {
  width: 80%;
}
@media only screen and (max-width: 500px) {
  .inputTable td input {
    width: 60%;
  }
}
</style>
