<template>
  <select id="market-selection" disabled>
    <option value="" disabled :selected="defaultValue == null">마켓을 선택하세요</option>
    <option v-for="market in dataList" :key="market" :selected="market.symbol == defaultValue" style="background-image:url(/images/icons/exchanges/UPBIT.png);" :data-icon="$store.state.location.coin + '/' + market.symbol + '.png'" :value="market.symbol" class="left">{{market.name}}</option>
  </select>
</template>

<script>
import marketList from '@/assets/data/marketList.json'
export default {
  name: 'MarketSelection',
  props: {
    data: Object,
    defaultValue: String,
    exchangeSymbol: String,
    result: Object
  },
  watch: {
    exchangeSymbol: {
      handler: function (val, old) {
        this.dataList = this.data[val];
        if (!Array.isArray(this.dataList) || this.dataList.length == 0)
          this.disable();

        let timeId = setInterval(() => {
          try {
            this.enable();
            clearInterval(timeId);
          } catch (err) {
          }
        }, 300);
      }
    }
  },
  created () {
    if (process.browser) {
      var self = this;
      console.log("Load MarketSelection");
      $(document).ready(function(){
        self.init();
        $('#market-selection').change('change', function(e) {
          self.selected.call(self, e); // cal vue method
        });
      });
    }
  },
  methods: {
    getSelectInstance () {
      var elem = $('#market-selection').formSelect();
      var instance = M.FormSelect.getInstance(elem);
      return instance;
    },
    init () {
      $('#market-selection').formSelect();
    },
    enable () {
      $('#market-selection').attr('disabled', false);
      $('#market-selection').formSelect();

      var instance = this.getSelectInstance();
      var selectedValue = instance.getSelectedValues()[0];
      if (this.existsSymbol(selectedValue)) {
        this.sendResult(selectedValue);
      }
    },
    disable () {
      $('#market-selection').attr('disabled', true);
      $('#market-selection').formSelect();
    },
    existsSymbol (symbol) {
      return this.dataList.some(elem => elem.symbol == symbol);
    },
    sendResult (symbol) {
      this.$emit('update:result', this.dataList.filter(elem => elem.symbol == symbol)[0]);
    },
    selected (e) {
      var symbol = e.target.value;
      this.sendResult(symbol);
    }
  },
  data() {
    return {
      dataList: []
    }
  }
}
</script>
