<template>
<div>
  <li class="collection-item avatar dark dark-hover">
    <img :src="'/images/icons/coins/'+data.coin+'.png'" alt="" class="circle" @click="click">
    <ul class="order-ul no-margin" @click="click">
      <li>
        <span class="content-value"><span class="order-date" >{{ data.date }}</span> <span class="order-time" >{{ data.time }}</span> </span>
      </li>
    </ul>
    <ul class="order-ul no-margin" style="clear:both;" @click="click">
      <li class="title">
        <span class="content-key order-trader">{{ data.author }}</span>
      </li>
      <li class="title">
        <span class="content-key order-title" >{{ data.title }}</span>
      </li>
    </ul>
    <ul class="order-ul" style="clear:both;" @click="click">
      <li>
        <span class="content-key order-bid">매수</span> <span class="content-value">{{ data.entry.join(',') }}</span>
      </li>
      <li>
        <span class="content-key order-ask">매도</span> <span class="content-value">{{ data.target.join(',') }}</span>
      </li>
      <li>
        <span class="content-key order-sl">손절</span> <span class="content-value">{{ data.stoploss }}</span>
      </li>
    </ul>
    <a href="#!" class="secondary-content">
      <order-state-toggle :state="data.state" :title="data.title" :id="data.id" ></order-state-toggle>
    </a>
  </li>
</div>
</template>
<script>
import OrderStateToggle from '@/components/console/elements/OrderStateToggle.vue'
export default {
  components: { OrderStateToggle },
  props: {
    data: Object
  },
  notifications: {
    showLeverOn: {
      title: '오더 설정',
      message: '활성화 되었습니다.',
      type: 'success'
    },
    showLeverOff: {
      title: '오더 설정',
      message: '비활성화 되었습니다.',
      type: 'success'
    }
  },
  methods: {
    click () {
      location.href = "/order/view/" + this.data.id;
    }
  }
}
</script>
