<template>
  <div class="switch">
    <label v-if="state == 'active'">
      <input checked type="checkbox" @change="toggleLever" :title="title" :id="id">
      <span class="lever"></span>
    </label>
    <label v-else-if="state == 'inactive'">
      <input type="checkbox" @change="toggleLever" :title="title" :id="id">
      <span class="lever"></span>
    </label>
    <label v-else-if="state == 'done'">
      <input disabled type="checkbox" @change="toggleLever" :title="title" :id="id">
      완료됨
      <span class="lever"></span>
    </label>
  </div>
</template>
<script>
export default {
  props: {
    state: String,
    id: Number,
    title: String
  },
  notifications: {
    showLeverOn: {
      title: '오더 설정',
      message: '활성화 되었습니다.',
      type: 'success'
    },
    showLeverOff: {
      title: '오더 설정',
      message: '비활성화 되었습니다.',
      type: 'success'
    }
  },
  methods: {
    toggleLever (e) {
      var context = {
        title: e.target.title
      };
      let title = e.target.title,
          id = e.target.id;
      if (e.target.checked) {
        this.$axios.put('/api/commands/orders/'+id, {
          command: 'active'
        }).then(res => {
          console.log(res);
          this.showLeverOn(context);
        }).catch(err => {
          this.showLeverOn({
            title: err.message
          });
        });
      } else {
        this.$axios.put('/api/commands/orders/'+id, {
          command: 'inactive'
        }).then(res => {
          this.showLeverOff(context);
        }).catch(err => {
          this.showLeverOn({
            title: err.message
          });
        });
      }
    }
  }
}
</script>
