<template>
<div class="trading-element" v-if="type == 0">
  <a :class="context.classes.join(' ')"></a>
  <span class="status-text">{{context.volume}} {{data.coin}} {{context.text}} <span class="uuid" >{{context.fromNow}}</span> <a :href="'/trading/view/'+data.id" class="trader">거래번호 : {{data.id}}</a> <a :href="'/order/view/'+data.order_id" class="trader">{{data.order_id}}번 오더</a></span> <br/>
</div>
<div class="trading-element" v-else-if="type == 1">
  <a :class="context.classes.join(' ')"></a>
  <span class="status-text">{{context.volume}} {{data.coin}} {{context.text}} <span class="uuid" >{{context.fromNow}}</span> <a :href="'/order/view/'+data.order_id" class="trader">{{data.order_id}}</a></span><br/>
</div>
<div class="trading-element" v-else-if="type == 2">
  <a :class="context.classes.join(' ')"></a>
  <span class="status-text"> {{context.volume}} {{data.coin}}({{data.price.asking}} {{data.market}}) {{context.text}} <span class="uuid" >{{context.fromNow}}</span> <a :href="'/trading/view/'+data.id" class="trader">거래번호 : {{data.id}}</a> <a :href="'/order/view/'+data.order_id" class="trader">{{data.order_id}}번 오더</a></span> <span class="uuid">[{{data.exchange}}:{{data.coin}}/{{data.market}}]</span> <br/>
</div>
<tbody v-else-if="type == 3">
  <tr>
    <td class="text">
      <a :class="context.classes.join(' ')"></a>
    </td>
    <td>
      {{context.text}}
    </td>
    <td class="asking-price">
      {{data.price.asking}} {{data.market}}
    </td>
    <td class="locked-volume">
      {{context.locked_volume}} {{data.coin}}
    </td>
    <td>
      <span class="uuid" >{{context.fromNow}}</span>
    </td>
  </tr>
  <tr>
    <td class="exchange">
      {{data.exchange}}
    </td>
    <td class="market">
      {{data.coin}}/{{data.market}}
    </td>
    <td class="volume">
      {{context.volume}} {{data.coin}}
    </td>
    <td class="executed-volume">
      {{data.volume.executed}} {{data.coin}}
    </td>
    <td>
      <a :href="'/trading/view/'+data.id" class="trading-id">{{data.id}}</a>
      /
      <a :href="'/order/view/'+data.order_id" class="order-id">{{data.order_id}}</a>
    </td>
  </tr>
</tbody>
</template>
<script>
import moment from 'moment'
export default {
  name: 'TradingElement',
  components: { },
  props: {
    data: Object,
    type: {
      type: Number,
      default: 0 // 0 : basic, 1 : simple, 2 : detail, 3 : table
    }
  },
  notifications: {
  },
  created() {
    let classes = this.context.classes,
        text = '';
    this.context.fromNow = moment(this.data.created_at, 'YYYY-MM-DD HH:mm:ss.SSS Z').locale('ko').fromNow()

    switch (this.type) {
    case 0:
      this.context.volume = parseFloat(this.data.volume.total).toFixed(4);
      break;
    case 1:
      this.context.volume = this.data.volume.total;
      break;
    case 2:
    case 3:
      this.context.volume = this.data.volume.total;
      break;
    }
    this.context.locked_volume = this.data.volume.total - this.data.volume.executed;

    switch (this.data.side) {
    case 'bid':
      classes.push('status-bid');
      switch (this.data.state) {
      case 'cancel':
        classes.push('cancel');
        text = '매수 취소'
        break;
      case 'wait':
        classes.push('pulse', 'wait');
        text = '매수 중..'
        break;
      case 'done':
        classes.push('done');
        text = '매수 체결 완료'
        break;
      }
      break;
    case 'ask':
      classes.push('status-ask');
      switch (this.data.state) {
      case 'cancel':
        classes.push('cancel');
        text = '매도 취소'
        break;
      case 'wait':
        classes.push('pulse', 'wait');
        text = '매도 중..'
        break;
      case 'done':
        classes.push('done');
        text = '매도 체결 완료'
        break;
      }
      break;
    }

    this.context.classes = classes;
    this.context.text = text;
  },
  methods: {
    click () {
      location.href = "/trading/view/" + this.data.id;
    }
  },
  data() {
    return {
      context: {
        classes: ['btn-floating', 'status-btn'],
        text: '',
        fromNow: '',
        volume: 0
      }
    }
  }
}
</script>
