$account-bar-height: 48px;
$account-bar-bg-color: #242434;
$darker-fg-color: #162228;
$dark-fg-color: #1c1e21;
$dark-bg-color: #37474f;
$footer-link-color: #AAAAAA;
$button-text-color: #bdbdbd;

body {

}

h2 {
  font-size: 30px;
}

.dark {
  background-color: $dark-fg-color !important;
  color: white;
  transition: 0.2s;
  cursor:pointer;
}
.dark-hover:hover {
  background-color: $dark-bg-color !important;
}

.dark.highlight {
  background: #DECBA4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(120deg, #384260, #DECBA4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(120deg, #384260, #DECBA4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  transition: 0.2s;
  cursor:pointer;
}
.dark-hover {
  background-color: rgba(0, 0, 0, 0) !important;
}
.dark-hover.highlight:hover {
  background: #DECBA4;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(120deg, #384260, #DECBA4);  /\* Chrome 10-25, Safari 5.1-6 *\/ */
  /* background: linear-gradient(120deg, #384260, #DECBA4); /\* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *\/ */
  background-color: #5a627b !important;  /* fallback for old browsers */
}

// ██████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗
// ██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║
// ██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║
// ██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║
// ╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║
// ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝
// materialize custom
.box-input[type=text]:not(.browser-default) {
  padding: 0px 10px;
  border: 1px solid #cccccc;
}
.box-input[type=text]:not(.browser-default):focus:not([readonly]) {
  border: 1px solid #26a69a;
}
.card-hr {
  margin: 30px 0px;
  border: 0;
  border-top: 2px solid #ccc;
}


// ██████╗ █████╗ ██████╗ ██████╗ ███████╗
// ██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝
// ██║     ███████║██████╔╝██║  ██║███████╗
// ██║     ██╔══██║██╔══██╗██║  ██║╚════██║
// ╚██████╗██║  ██║██║  ██║██████╔╝███████║
// ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝
.target-coin-selection-card {
  .card-content {
    .select-wrapper {
      margin: 30px 0px;
    }
    .input-field {
      margin-top: 0px;
      padding: 0px;
      label {
        margin-left: -12px;
      }
    }
  }
}
$trading-list-table-white: #eeeeee;
$trading-list-table-grey: #444444;
$trading-list-table-font-size: 14px;
$trading-list-table-font-size-mobile: 11px;
.trading-list {
  table {
    margin-bottom: 10px;
    min-width: 600px;
    thead {
      tr {
        border: 1px solid $trading-list-table-white;
      }
      td {
        font-size: $trading-list-table-font-size;
        text-align: center;
        border: 1px solid $trading-list-table-white;
      }
    }
    tbody {
      tr {
        border: 1px solid $trading-list-table-grey;
        &:first-of-type {
          border-top: 1px solid $trading-list-table-white;
        }
        &:last-of-type {
          border-bottom: 1px solid $trading-list-table-white;
        }
      }
      td {
        font-size: $trading-list-table-font-size;
        text-align: center;
        border-right: 1px solid $trading-list-table-grey;
        &:first-of-type {
          border-left: 1px solid $trading-list-table-white;
        }
        &:last-of-type {
          border-right: 1px solid $trading-list-table-white;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .trading-list {
    table {
      min-width: 400px;
      thead {
        td {
          font-size: $trading-list-table-font-size-mobile;
        }
      }
      tbody {
        td {
          font-size: $trading-list-table-font-size-mobile;
        }
      }
    }
  }
}

// ██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗
// ██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║
// ██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║
// ██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║
// ██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║
// ╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝
.account-box {
  display: inline-block;
  float:right;
  padding: 5px;
  a {
    font-size: 14px;
    color: $button-text-color;
  }
  ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
  }
  li {
    margin: 0px;
    margin-left: 10px;
    float: left;
  }
}

// ███████╗██╗     ███████╗███╗   ███╗███████╗███╗   ██╗████████╗███████╗
// ██╔════╝██║     ██╔════╝████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
// █████╗  ██║     █████╗  ██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ███████╗
// ██╔══╝  ██║     ██╔══╝  ██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ╚════██║
// ███████╗███████╗███████╗██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ███████║
// ╚══════╝╚══════╝╚══════╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝

.logo {
  display: inline-block;
  vertical-align: middle;
  img {
    height: 30px;
    &#icon {
      height: 20px;
    }
  }
}

// ██╗   ██╗██╗
// ██║   ██║██║
// ██║   ██║██║
// ██║   ██║██║
// ╚██████╔╝██║
// ╚═════╝ ╚═╝

.account-bar {
  height: $account-bar-height;
  position: sticky;
  top: 0px;
  z-index: 500;
  padding: 0px 10px;
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px 1px $dark-fg-color;
  -moz-box-shadow: 0px 3px 5px 1px $dark-fg-color;
  box-shadow: 0px 3px 5px 1px $dark-fg-color;
  &.dark {
    background-color: $account-bar-bg-color !important;
  }
  &:hover {
    cursor: default;
  }
}

.title-bar {
  -webkit-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.3);
  h1 {
    margin: 0px;
    padding: 20px;
    font-size: 55px;
    .text {
      margin-left: 20px;
    }
    .sidenav-trigger {
      i {
        font-size: 40px;
        background-color: $dark-fg-color;
        border: 0px solid $dark-fg-color;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    cursor: default;
  }
}

.side-nav {
  nav {
    height: 0px;
  }
  .sidenav {
    width: 250px;
  }
}

.page-footer {
  background-color: $dark-bg-color;
  padding: 0px;
  .footer-copyright {
    background-color: $dark-fg-color;
    a.footer-link {
      color: $footer-link-color !important;
      margin-left: 15px;
    }
  }
}

.pagination {
  margin-top: 40px;
  li {
    .page-link {
      color: grey;
    }
    &.active {
      color: white;
    }
    a {
      color: #c0c0c0;
    }
    &.disabled a {
      color: #666666;
    }
  }
}


// ███╗   ██╗██╗   ██╗██╗  ██╗████████╗
// ████╗  ██║██║   ██║╚██╗██╔╝╚══██╔══╝
// ██╔██╗ ██║██║   ██║ ╚███╔╝    ██║
// ██║╚██╗██║██║   ██║ ██╔██╗    ██║
// ██║ ╚████║╚██████╔╝██╔╝ ██╗   ██║
// ╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝
.nuxt-progress {
  display: none;
}


// ██╗      █████╗ ██╗   ██╗ ██████╗ ██╗   ██╗████████╗
// ██║     ██╔══██╗╚██╗ ██╔╝██╔═══██╗██║   ██║╚══██╔══╝
// ██║     ███████║ ╚████╔╝ ██║   ██║██║   ██║   ██║
// ██║     ██╔══██║  ╚██╔╝  ██║   ██║██║   ██║   ██║
// ███████╗██║  ██║   ██║   ╚██████╔╝╚██████╔╝   ██║
// ╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝  ╚═════╝    ╚═╝

#console-layout {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;

  .account-bar {
    z-index: 19;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    min-width: 100%;
    padding: 0 32px;
    vertical-align: baseline;
    background-color: #333333 !important;
    background-image: url('/images/patterns/checked.png');
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
    height: 48px;
    position: fixed;
    .logo {
      color: rgba(255, 217, 0, 0.85);
      font-size: 24px;
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      a {
        color: #fcbd20;
      }
    }
  }

  #console-container {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin-top: 48px;
    .side-nav {
      -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
      z-index: 15;
      // flex-basis: 250px;
      ul {
        top: 47px;
        position: fixed;
        left: 263px;
        height: 100%;
        .selected {
          background-color: #e0e0e0;
        }
        .divider {
          margin: 1px 0 0 0;
        }
      }
    }

    #console-context {
      width: 100%;
      margin-left: 250px;
      min-width: 350px;

      .title-bar {
        -webkit-box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.3);
        background-color: white !important;
        color: black;
        position: fixed;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        min-width: 100%;
        padding: 0 12px;
        vertical-align: baseline;
        height: 48px;
        position: fixed;
        z-index: 13;

        .menu {
          display: none;
        }
        .title-text {
          color: rgba(0,0,0,0.74);
          margin-left: 10px;
          font-size: 14px;
          display: flex;
          flex: 1 0 auto;
          display: flex;
          align-items: center;

        }
      }
      #console-data {
        height: 100%;
        & > .container {
          width: 90% !important;
          min-height: 500px;
        }
        padding-top: 48px;
        height: 100%;
      }
      footer {
        height: 48px;
        z-index: 12;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #console-layout {

    .account-bar {
      padding: 0 16px;
      .logo {
        a {
        }
      }
    }

    #console-container {
      .side-nav {
        z-index: 1000;
        ul {
          left: 0px;
          .divider {
          }
          li > a {
            padding: 0 16px;
          }
        }
      }

      #console-context {
        margin-left: initial;
        .title-bar {
          padding: 0 16px;
          .menu {
            display: flex;
            a {
              width: 23px;
              height: 23px;
              .material-icons {
                color: $dark-fg-color;
              }
            }
          }
          .title-text {
          }
        }
        #console-data {
        }
        footer {
        }
      }
    }
  }
}
