<template>
<div class="container">
</div>
</template>

<script>
export default {
  name: '소개',
  layout: 'article',
  components: { },
  fetch ({ store, route }) {
    store.state.page.title = this.name;
  },
  head () {
    return {
      title: this.$store.getters.getTitle
    }
  },
  data () {
    return {
    }
  }
}
</script>
