<template>
  <div class="container">
    <div class="row">
      <div class="col s12 cards-container" >
        <div class="col s12">
          <h2>API</h2>
        </div>
        <div class="col s12 m12 l7">
          <trading-list-card :type="1" :limit="'15'"></trading-list-card>
        </div>
        <div class="col s12 m12 l5">
          <api-status-card></api-status-card>
        </div>
        <div class="col s12 m12 l5">
          <api-keys-card></api-keys-card>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 cards-container" >
        <div class="col s12">
          <h2>오더</h2>
        </div>
        <div class="col m12 s12">
          <order-list-card :count="5"></order-list-card>
        </div>
        <!-- <div class="col m6 s12"> -->
        <!--   <trader-recommends-card></trader-recommends-card> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import TradingListCard from '@/components/console/cards/TradingList.vue'
import ApiStatusCard from '@/components/console/cards/ApiStatus.vue'
import ApiKeysCard from '@/components/console/cards/ApiKeys.vue'
import OrderListCard from '@/components/console/cards/OrderList.vue'
import TraderRecommendsCard from '@/components/console/cards/TraderRecommends.vue'
export default {
  name: '대시보드',
  layout: 'console',
  components: { TradingListCard, ApiStatusCard, ApiKeysCard, OrderListCard, TraderRecommendsCard },
  fetch ({ store, route }) {
    store.state.page.title = this.name;
  },
  head () {
    return {
      title: this.$store.getters.getTitle
    }
  },
  data () {
    return {
    }
  }
}
</script>
