<template>
<div>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Bitrading</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        메뉴
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#discover">시작하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">기능</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">문의</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5"><b>비트레이딩</b>은 암호화폐 실시간 매매 시스템입니다!</h1>
            <a href="/auth" class="btn btn-outline btn-xl js-scroll-trigger">지금 시작하기</a>
            <a href="#discover" class="btn btn-outline btn-xl js-scroll-trigger">알아보기</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <!-- <img src="/images/newage/dashboard.png" class="img-fluid" alt=""> -->
                  </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </header>

  <section class="download bg-primary text-center" id="discover">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">한번의 설정으로 <u>진입</u>부터 <u>수익</u>까지</h2>
          <p>실시간 API 요청을 통해 시장가를 빠르게 반영합니다.</p>
          <div class="badges">
            <!-- <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a> -->
            <!-- <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>자유로워지세요!</h2>
        <p class="text-muted">하루종일 거래소에 매달릴 필요가 없습니다!</p>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <!-- <img src="img/demo-screen-1.jpg" class="img-fluid" alt=""> -->
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-mouse text-primary"></i>
                  <h3>Trailing stop</h3>
                  <p class="text-muted">한번의 설정으로 손절매까지.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-cursor text-primary"></i>
                  <h3>Entry</h3>
                  <p class="text-muted">진입할 가격을 설정할 수 있습니다.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-tag text-primary"></i>
                  <h3>Target</h3>
                  <p class="text-muted">원하는 가격에서 매도를 설정할 수 있습니다.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-map text-primary"></i>
                  <h3>대시보드</h3>
                  <p class="text-muted">거래내역과 오더를 한 눈에 볼 수 있습니다.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-people text-primary"></i>
                  <h3>트레이더 추천</h3>
                  <p class="text-muted">구독중인 트레이더의 오더를 통해 높은 수익률을 창출하세요.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-key text-primary"></i>
                  <h3>API 지원</h3>
                  <p class="text-muted">다양한 거래소를 지원합니다.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta" id="contact">
    <div class="cta-content">
      <div class="container">
        <h2>깔끔한 암호화폐 관리, <br>지금 시작해보세요.</h2>
        <a href="/contact" class="btn btn-outline btn-xl js-scroll-trigger">문의하기</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
</div>
</template>

<script>
export default {
  name: 'bitrading',
  layout: 'newage'
}
</script>
