<template>
  <div>
    <form>
      <!-- <coin-select></coin-select> -->
    </form>
  </div>
</template>

<script>
export default {
  name: '트레이더',
  layout: 'console',
  fetch ({ store, route }) {
    store.state.page.title = this.name;
  },
  head () {
    return {
      title: this.$store.getters.getTitle
    }
  },
  data () {
    return {
    }
  }
}
</script>
