<template>
<div>
  <h3> {{ title }} </h3>
  <h4> {{ subtitle }} </h4>
  <h4> {{ remain }} 초 후 <a :href="path">{{ pathname }}</a>로 돌아갑니다. </h4>
</div>
</template>
<script>
export default {
  name: 'redirect',
  props: ['title', 'subtitle', 'pathname', 'path', 'seconds'],
  layout: ['auth'],
  mounted () {
    if (process.browser) {
      this.interval = setInterval(() => {
        if (this.remain == 1) {
          clearInterval(this.interval);
          location.href = this.path;
        }
        this.remain = this.remain - 1;
      }, 1000);
    }
  },
  data () {
    return {
      remain: this.seconds
    }
  }
}
</script>
