<template>
  <div class="container">
    <order-form></order-form>
  </div>
</template>

<script>
  import OrderForm from '@/components/console/form/OrderForm.vue'
export default {
  name: '오더 추가',
  layout: 'console',
  components: { OrderForm },
  fetch ({ store, route }) {
    store.state.page.title = this.name;
  },
  head () {
    return {
      title: this.$store.getters.getTitle
    }
  },
  data () {
    return {
    }
  }
}
</script>
