<template>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>주문 현황</h2>
    </div>
    <div class="col s12 cards-container">
      <order-list-card :orderList="orderList" :count="10"></order-list-card>
    </div>
  </div>
</div>
</template>

<script>
import OrderListCard from '@/components/console/cards/OrderList.vue'
export default {
  name: '주문',
  layout: 'console',
  components: { OrderListCard },
  fetch ({ store, route }) {
    store.state.page.title = this.name;
  },
  head () {
    return {
      title: this.$store.getters.getTitle
    }
  },
  data () {
    return {
      orderList: []
    }
  }
}
</script>
