<template>
  <div class="container">
    업비트 API 등록 방법
</div>
</template>

<script>
export default {
  name: '업비트 API 등록 방법',
  layout: 'article',
  components: { },
  fetch ({ store, route }) {
    store.state.page.title = this.name;
  },
  head () {
    return {
      title: this.$store.getters.getTitle
    }
  },
  data () {
    return {
    }
  }
}
</script>
