<template>
<div v-if="orderData.id == null" class="container">
  <div class="row">
    <div class="col s12">
      <h2></h2>
    </div>
    <preloader :class="'center'"></preloader>
  </div>
</div>
<div v-else class="container">
  <div class="row">
    <div class="col s12">
      <h2>{{ orderData.title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12 cards-container">
      <trading-list-card :ids="tradingIds" :limit="'15'"></trading-list-card>
    </div>
  </div>
  <div class="row">
    <div class="col s12 cards-container">
      <order-view-card :data="orderData"></order-view-card>
    </div>
  </div>
</div>
</template>
<script>
import OrderViewCard from '@/components/console/cards/OrderView.vue'
import TradingListCard from '@/components/console/cards/TradingList.vue'
import Preloader from '@/components/console/ui/Preloader.vue'
import _ from 'lodash'
export default {
  name: '오더 상세',
  layout: 'console',
  fetch ({ store, route }) {
    store.state.page.title = this.name;
  },
  components: { OrderViewCard, TradingListCard, Preloader },
  created() {
    let self = this,
        id = this.$route.params.id;
    if (process.browser) {
      self.$axios.get('/api/order/orders/' + id).then(res => {
        let data = res.data;
        self.orderData = data;

        // trading ids 수집
        let tradingIds = [];
        console.log(JSON.stringify(res, null, 2));
        if (Array.isArray(_.get(data, 'entry.strategy'))) {
          data.entry.strategy.forEach(data => {
            tradingIds = tradingIds.concat(data.tradings);
          });
        }
        if (Array.isArray(_.get(data, 'target.strategy'))) {
          data.target.strategy.forEach(data => {
            tradingIds = tradingIds.concat(data.tradings);
          });
        }
        if (Array.isArray(_.get(data, 'stoploss.strategy.tradings'))) {
          tradingIds = tradingIds.concat(data.stoploss.strategy.tradings);
        }
        console.log(tradingIds);
        self.tradingIds = tradingIds;
      }).catch(err => {
        console.log(err);
      });
    }
  },
  data() {
    return {
      orderData: {},
      tradingIds: []
    }
  }
}
</script>
