<template>
<div class="container">
  <div class="row">
    <div class="col s12 cards-container" >
      <div class="col s12">
        <h2></h2>
      </div>
      <div class="col m12 s12">
        <api-status-card></api-status-card>
      </div>
      <div class="col m12 s12">
        <div class="card api upbit">
          <help-link :class="'right'" :href="'/manuals/upbit-api'" :text="'등록방법'"></help-link>
          <div class="card-title">
            <img src="/images/icons/exchanges/UPBIT.png">
            업비트 API 등록
            <div class="card-content">
              <span class="content-value">등록된 API : <api-access-key :exchange="'UPBIT'"></api-access-key></span>
            </div>
          </div>
          <div class="card-content">
            <span class="content-key">Access Key</span>
            <span class="content-value"><input class="box-input col s12 access-key" type="text"></span>
          </div>
          <div class="card-content">
            <span class="content-key">Secret Key</span>
            <span class="content-value"><input class="box-input col s12 secret-key" type="text"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 card-container">
      <div class="input-field col s4 push-s8">
        <button @click.prevent="submitUpbit" type="submit" class="btn waves-effect waves-light col s12 dark">설정</button>
      </div>
    </div>
  </div>
</div>
</template>
<script>
  import HelpLink from '@/components/console/elements/HelpLink'
  import ApiAccessKey from '@/components/console/elements/ApiAccessKey.vue'
import ApiStatusCard from '@/components/console/cards/ApiStatus.vue'
export default {
  name: 'API 설정',
  layout: 'console',
  components: { HelpLink, ApiAccessKey, ApiStatusCard },
  fetch ({ store, route }) {
    store.state.page.title = this.name;
  },
  notifications: {
    showInputError: {
      title: '입력 오류',
      message: '올바르게 입력해주세요',
      type: 'error'
    },
    showSuccess: {
      title: '설정 완료',
      message: '성공적으로 설정되었습니다.',
      type: 'success'
    },
    showFailed: {
      title: '문제 발생',
      message: '설정이 실패하였습니다.',
      type: 'error'
    }
  },
  methods: {
    submitUpbit () {
      let self = this;
      const messages = {
        inputError: 'Access Key와 Secret Key가 모두 입력되어야 합니다.',
        success: '업비트 API 설정을 완료하였습니다.',
        failed: '업비트 API를 설정하던 도중 문제가 발생하였습니다. 다시 시도하시거나 관리자에게 문의해주세요.',
      };
      let accessKey = $('.api.upbit .content-value .access-key').get(0).value,
          secretKey = $('.api.upbit .content-value .secret-key').get(0).value
      if (typeof accessKey !== 'string' || accessKey == '' ||
          typeof secretKey !== 'string' || secretKey.length == '') {
        this.showInputError({
          message: messages.inputError
        });
        return;
      }
      this.$axios.put('/api/order/apis/upbit', {
        accessKey: accessKey,
        secretKey: secretKey
      }, {
        timeout: 10000
      }).then(res => {
        if (res.data == true) {
          self.showSuccess({
            message: messages.failed
          });
        } else {
          self.showSuccess({
            message: messages.success
          });
          setTimeout(function () {
            location.reload();
          }, 1000);
        }
      }).catch(err => {
        self.showFailed({
          message: messages.failed,
        });
      });
    },
  },
  head () {
    return {
      title: this.$store.getters.getTitle
    }
  },
  data () {
    return {
    }
  }
}
</script>
<style scoped>
  .card-title {
  display: flex;
  align-items: center;
  }
  .card-title img {
  width: 35px;
  margin-right: 10px;
  }
</style>
