<template>
<div class="container">
  <div class="row">
    <div class="col s12 cards-container" >
      <div class="col s12">
        <h2>API</h2>
      </div>
      <div class="col s12 m12 l12">
      <api-status-card></api-status-card>
      </div>
      <div class="col s12 m12 l12">
        <api-keys-card></api-keys-card>
      </div>
    </div>
    <div class="col s12 cards-container" >
      <div class="col s12">
        <h2>계정 정보</h2>
      </div>
      <div class="col s12 m12 l12">
        <user-info-card></user-info-card>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import ApiKeysCard from '@/components/console/cards/ApiKeys.vue'
import ApiStatusCard from '@/components/console/cards/ApiStatus.vue'
import UserInfoCard from '@/components/console/cards/UserInfo.vue'
export default {
  name: '설정',
  layout: 'console',
  components: {ApiKeysCard, ApiStatusCard, UserInfoCard},
  fetch ({ store, route }) {
    store.state.page.title = this.name;
  },
  head () {
    return {
      title: this.$store.getters.getTitle
    }
  },
  data () {
    return {
    }
  }
}
</script>
