<template>
<form autocomplete="off">
  <div class="row">
    <div class="col s12 cards-container">
      <div class="col s12">
        <h2 id="exchange-area">거래소 선택</h2>
      </div>
      <div class="col s12 m12 l7">
        <target-coin-selection-card :result.sync="TargetCoinResult" :title="title.targetCoinSelectionCard"></target-coin-selection-card>
      </div>
      <div class="col s12 m12 l5">
        <balance-card :title="title.balanceCard" :exchange="TargetCoinResult.exchange" :market="TargetCoinResult.market" :coin="TargetCoinResult.coin" :result.sync="BalanceResult"></balance-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 cards-container">
      <div class="col s12">
        <h2 id="entry-area">진입 매수 설정</h2>
      </div>
      <div class="col m12 s12">
        <entry-card :market="TargetCoinResult.market" :coin="TargetCoinResult.coin" :balance="BalanceResult.market" :result.sync="EntryResult"></entry-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 cards-container">
      <div class="col s12">
        <h2 id="target-area">타겟 매도 설정</h2>
      </div>
      <div class="col m12 s12">
        <target-card :result.sync="TargetResult"></target-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 cards-container">
      <div class="col s12">
        <h2>손절 설정</h2>
      </div>
      <div class="col m12 s12">
        <stoploss-card :result.sync="StoplossResult"></stoploss-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 card-container">
      <div class="input-field col s4 push-s8">
        <button @click.prevent="submit" type="submit" class="btn waves-effect waves-light col s12 dark">설정</button>
      </div>
    </div>
  </div>
</form>
</template>

<script>
import TargetCoinSelectionCard from '@/components/console/cards/TargetCoinSelection.vue'
import BalanceCard from '@/components/console/cards/Balance.vue'
import EntryCard from '@/components/console/cards/Entry.vue'
import EntryBalanceCard from '@/components/console/cards/EntryBalance.vue'
import TargetCard from '@/components/console/cards/Target.vue'
import StoplossCard from '@/components/console/cards/Stoploss.vue'
export default {
  components: { TargetCoinSelectionCard, BalanceCard, EntryCard, EntryBalanceCard, TargetCard, StoplossCard },
  methods: {
    inputWarning (title, text, hashlink) {
      this.$swal({
        title: title,
        text: text,
        type: 'warning',
        animation: true,
        confirmButtonText: '<i class="material-icons">check</i>',
        onAfterClose: function () {
          if (hashlink != null) {
            location.href='#'+hashlink
          }
        }
      });
      return null;
    },
    submitOrder () {
      this.$swal({
        title: '오더를 확인해주세요.',
        html: ``,
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          swal(
            'Deleted!',
            'Your file has been deleted.',
            'success'
          )
        }
      });
    },
    submit () {
      let data = {};
      let exchange = this.TargetCoinResult.exchange.symbol,
          exchangeName = this.TargetCoinResult.exchange.name,
          market = this.TargetCoinResult.market.symbol,
          coin = this.TargetCoinResult.coin.symbol,
          entryQuantity = this.EntryResult.quantity,
          entryStrategy = this.EntryResult.strategy,
          targetStrategy = this.TargetResult.strategy,
          stoplossType = this.StoplossResult.type,
          stoplossStrategy = this.StoplossResult.strategy;

      // if (exchange == null) return this.inputWarning('거래소 선택이 필요합니다.', '거래소를 선택해주세요', 'exchange-area');
      // if (market == null) return this.inputWarning('마켓 선택이 필요합니다.', '거래할 마켓을 선택해주세요',  'exchange-area');
      // if (coin == null) return this.inputWarning('코인 입력이 필요합니다.', `${market} 통화로 거래할 코인을 선택해주세요`, 'exchange-area');

      // if (isNaN(entryQuantity) || entryQuantity <= 0) return this.inputWarning('진입량 설정이 필요합니다.', `${market}-${coin} 거래량을 입력해주세요.`, 'entry-area');

      // if (entryStrategy == null || entryStrategy.length == 0) return this.inputWarning('진입 전략 설정이 필요합니다.', `최소 1개 이상 전략을 설정해주세요.`, 'entry-area');

      // if (targetStrategy == null || targetStrategy.length == 0) return this.inputWarning('타겟 전략 설정이 필요합니다.', `최소 1개 이상 전략을 설정해주세요.`, 'target-area');

      let user_id = $('#user_id').text();
      let order = {
        title: `${exchangeName} ${coin}/${market}`,
        author: user_id,
        exchange: exchange,
        market: market,
        coin: coin,
        state: 'inactive',
        status: 'stuck',
        running_state: 'profit',
        entry: {
          quantity: entryQuantity,
          strategy: entryStrategy
        },
        target: {
          strategy: targetStrategy
        },
        stoploss: {
          type: stoplossType,
          strategy: stoplossStrategy
        }
      };

      this.$axios.post('/api/order/orders', {
        data: order
      });
    }
  },
  data() {
    return {
      BalanceResult: {
      },
      EntryResult: {
      },
      TargetResult: {
      },
      StoplossResult: {
      },
      TargetCoinResult: {
        exchange: {},
        market: {},
        coin: {}
      }, // sync for target-coin-selection-card
      title: {
        targetCoinSelectionCard: null,
        balanceCard: '현재 잔고'
      }
    }
  }
}
</script>
