<template>
<div>
  <redirect :title="title" :subtitle="subtitle" :pathname="pathname" :path="path" :seconds="seconds"></redirect>
</div>
</template>
<script>
import Redirect from '@/components/common/redirect.vue'
const CODE = {
  login: {
    title: '로그인 오류입니다.',
    pathname: '로그인 페이지',
    path: '/auth'
  },
  access: {
    title: '잘못된 접근입니다.',
    pathname: '메인 페이지',
    path: '/'
  }
};
let status = {} , query = {};
export default {
  components: { Redirect },
  layout: 'error',
  data () {
    let paramcode = this.$route.params.code,
        query = this.$route.query;
    let res = CODE[paramcode];
    if (res == null) status = CODE.access;
    else status = res;
    return {
      title: status.title,
      subtitle: query.message || status.message,
      pathname: status.pathname,
      path: status.path,
      seconds: 3
    }
  }
}
</script>
