<template>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>거래 현황</h2>
    </div>
    <div class="col s12 cards-container">
      <trading-list-card :type="3" :limit="50"></trading-list-card>
    </div>
  </div>
</div>
</template>

<script>
import TradingListCard from '@/components/console/cards/TradingList.vue'
export default {
  name: '거래',
  layout: 'console',
  components: { TradingListCard },
  fetch ({ store, route }) {
    store.state.page.title = this.name;
  },
  head () {
    return {
      title: this.$store.getters.getTitle
    }
  },
  data () {
    return {
    }
  }
}
</script>
