<template>
  <div class="account-box">
    <ul v-if="isLogin === true" class="logout">
      <li>
        <a id="user_id" href="/accounts">{{ userId }}</a>
      </li>
      <li>
        <a href="/auth/logout">로그아웃</a>
      </li>
    </ul>
    <ul v-else class="logout">
      <li>
        <a href="/auth">로그인</a>
      </li>
    </ul>
  </div>
</template>

<script>
  import { decode } from 'jsonwebtoken'
export default {
  name: 'Login',
  fetch ({ store, route }) {
    store.getters.checkLogin;
  },
  head () {
    this.$store.getters.checkLogin // 로그인 확인
    return {
      title: this.$store.getters.getTitle
    }
  },
  created () {
    let self = this;
    if (process.browser) {
      try {
        let token = self.$cookies.get('authtoken');
        if (token == null) self.isLogin = false;
        let data = decode(token);
        self.userId = data.id;
        self.isLogin = true;
      } catch (err) {
        self.isLogin = false;
      }
    }
  },
  data () {
    return {
      isLogin: false,
      userId: ''
    }
  }
}
</script>
