<template>
<div class="account-bar dark">
  <logo></logo>
  <login-button></login-button>
</div>
</template>

<script>
import Logo from '@/components/console/elements/Logo.vue'
import LoginButton from '@/components/console/buttons/Login.vue'
export default {
    components: { Logo, LoginButton }
  }
</script>
