<template>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span class="copyright-text">© 2018 Copyright Bitrading</span>
        <a class="footer-link grey-text text-lighten-4 right" href="/contact">문의</a>
        <a class="footer-link grey-text text-lighten-4 right" href="/terms">이용약관</a>
        <a class="footer-link grey-text text-lighten-4 right" href="/about">소개</a>
      </div>
    </div>
  </footer>
</template>
