<template>
  <div class="center">
<vuejs-paginate
  v-model="currentPage"
  :page-count="getPageCount()"
  :page-range="pageRange"
  :margin-pages="1"
  :container-class="'pagination'"
  :page-class="'waves-effect waves-light'"
  :active-class="'active teal'"
  :page-link-class="'page-link'"
  :prev-class="'waves-effect waves-light'"
  :next-class="'waves-effect waves-light'"
  :prev-text="prevText"
  :next-text="nextText"
  :click-handler="click"
  :class="''"
  >
</vuejs-paginate>
</div>
</template>
<script>
export default {
  props: {
    totalCount: { // 전체 컨텐츠 수
      type: Number,
      required: true
    },
    pageRange: { // 보여줄 페이지 수
      type: Number,
      default: 7
    },
    viewCount: { // 한페이지에 보여줄 갯수
      type: Number,
      default: 5
    },
    result: Object
  },
  methods: {
    getPageCount () {
      return Math.ceil(this.totalCount / this.viewCount);
    },
    pageValue () {
      return 3;
    },
    click (num) {
      this.$emit('update:result', {begin: this.viewCount*num-this.viewCount, end: this.viewCount*num});
      this.currentPage = num;
    }
  },
  data() {
    return {
      currentPage: 1,
      prevText: "<i class='material-icons'>chevron_left</i>",
      nextText: "<i class='material-icons'>chevron_right</i>"
    }
  }
}
</script>
