<template>
  <div class="side-nav">
    <nav> <!-- navbar content here  --> </nav>

    <ul id="slide-out" class="sidenav">
      <li><a class="subheader">메뉴</a></li>
      <li><div class="divider"></div></li>
      <li v-for="menu in menus" v-bind:key="menu" :class="selectedClass(menu.name)">
        <a v-if="menu.click != null" class="waves-effect" @click="menu.click" :href="menu.href"><i class="material-icons">{{ menu.icon }}</i>{{ menu.text }}</a>
        <a v-else class="waves-effect" :href="menu.href"><i class="material-icons">{{ menu.icon }}</i>{{ menu.text }}</a>
      </li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">정보</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" @click="preparing"><i class="material-icons">notifications</i>알림</a></li>
      <li><a class="waves-effect" @click="preparing"><i class="material-icons">volume_down</i>공지사항</a></li>
    </ul>
</div>
</template>

<script>
export default {
  fetch ({ store, route }) {
    store.state.user.name = "홍길동";
    store.state.user.email = "하이";
  },
  created () {
    let self = this;
    if (process.browser) {
      console.log("Load SideNav");
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
      // self.selected = location.pathname.split('/')[1].toLowerCase();
    }
  },
  methods: {
    preparing () {
      this.$swal({
        title: '준비 중 입니다.',
        type: 'warning',
        animation: false,
        customClass: 'animated jello fast',
        showConfirmButton: false,
        timer: 2000
      });
    },
    selectedClass (name) {
      if (name == this.selected.split('/')[1].toLowerCase()) return 'selected';
      else return '';
    }
  },
  data () {
    return {
      selected: this.$router.currentRoute.path,
      menus: [
        {
          name: 'dashboard',
          href: '/dashboard',
          icon: 'dashboard',
          text: '대시보드',
          click: null
        },
        {
          name: 'order',
          href: '/order',
          icon: 'receipt',
          text: '주문',
          click: null
        },
        {
          name: 'trading',
          href: '/trading',
          icon: 'account_balance',
          text: '거래',
          click: null
        },
        {
          name: 'trader',
          href: '#',
          icon: 'account_circle',
          text: '트레이더',
          click: this.preparing
        },
        {
          name: 'accounts',
          href: '/accounts',
          icon: 'settings',
          text: '설정',
          click: null
        }
      ]
    }
  }
}
</script>
