<template>
  <div class="title-bar dark">
      <div class="menu"><a v-if="simple != true" href="#" data-target="slide-out" class="waves-effect sidenav-trigger"><i class="material-icons">menu</i></a></div>
      <div class="title-text"><span onclick="window.location.href=''" class="text">{{ title }}</span></div>
  </div>
</template>

<script>
import Logo from '@/components/console/elements/Logo.vue'
export default {
    components: { Logo },
props: ['title', 'simple']
  }
</script>
