// Variables

// Gray and Brand Colors for use across theme

$theme-logo:       rgba(255, 217, 0, 0.85);
$theme-primary:    #ffd700;
$theme-secondary:  #3b3337;
$theme-tertiary:   #1c2430;

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee
