@import "variables.scss";

body {
}
#auth {
  margin-top: 20px;
  .container {
    max-width: 500px;
  }
  h2 {
    // color: $theme-logo;
    color: $theme-logo;
    font-weight: 200;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  }
  .card-panel {
    background: // url('/images/patterns/diagmonds.png'),
      $theme-secondary;
    background: // url('/images/patterns/diagmonds.png'),
      -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background: // url('/images/patterns/diagmonds.png'),
      linear-gradient(to left, $theme-secondary, $theme-tertiary);

  }
  i.material-icons {
    color: #9e9e9e;
  }

  label:focus {
    color: $theme-primary;
  }

  input {
    color: gray;
  }

  input:focus {
    color: $theme-primary;
    border-bottom: 1px solid $theme-primary;
    box-shadow: 0 1px 0 0 $theme-primary;
    &+label.active {
      color: $theme-primary;
    }
  }

  i.material-icons.active {
    color: $theme-primary;
  }

  .signin {
    .btn {
      background: // url('/images/patterns/diagmonds.png'),
        $theme-tertiary;
      background: // url('/images/patterns/diagmonds.png'),
        -webkit-linear-gradient(to left, $theme-tertiary, $gray-dark);
      background: // url('/images/patterns/diagmonds.png'),
        linear-gradient(to left, $theme-tertiary, $gray-dark);
    }
  }
  .login {
    .btn {
      background: // url('/images/patterns/diagmonds.png'),
        $theme-secondary;
      background: // url('/images/patterns/diagmonds.png'),
        -webkit-linear-gradient(to right, $theme-secondary, $gray-dark);
      background: // url('/images/patterns/diagmonds.png'),
        linear-gradient(to right, $theme-secondary, $gray-dark);
    }
  }

  .btn {
    border-radius: 7px;
  }

  .card.terms {
    background-color: rgba(70, 70, 70, 0.5);
    color: rgb(200, 200, 200);
    .terms-title {
      text-align: center;
    }
    .terms-contents {
      height: 250px;
      overflow: auto;
      padding: 20px;
      border-top: 1px solid grey;
      &::-webkit-scrollbar {
        width: 0px;
      }
      p {
        text-indent: 20px;
      }
    }
    .card-action {
      margin-top: 0px;
      background-color: initial;
      input {
        &:checed+span:not(.lever):before {
        }
        &.filled-in:checked+span:not(.lever) {
          &:before {
            border-right: 2px solid $theme-secondary;
            border-bottom: 2px solid $theme-secondary;
          }
          &:after {
            border: initial;
            background-color: $theme-primary;
          }
        }
      }
    }
  }
}
